/***********ブロックエディタのセクション********/

/*-------------タブブロック----------*/
.tabs-navigation {
    border-radius: 50px; /* 角丸の半径 */
    background: #eee;
    margin-top: var(--ly-elementTopMarginSmall);
}

.tabs-navigation li.active {
    background: #000;
    border-radius: 50px; /* 角丸の半径 */
    color: #fff;
    border: none;
}

.tabs {
    border: none;
}

/******タブブロック********/
ul.tabs-navigation {
    line-height: 1;
}

.wp-block-integlight-custom-cover .wp-block-column {
    padding: 0px 15px;
    /* タブブロックのパディング */
}


/******コンテンツ内スライダー********/
.wp-block-integlight-slider-block .wp-block-columns {
    padding: 0px 20px;
    /* コンテンツ内スライダーのパディング */
}

.wp-block-integlight-slider-block.blockSliders .wp-block-columns {
    border-radius: 20px;
    /* コンテンツ内スライダーの角を丸く */
}


