/************************************************************/
/* 0. TOPのヘッダーが画像***************************************************@@@/
/************************************************************/

img.topImage {
    width: 100vw;
    /* ビューポートの幅に合わせる */
    height: 50vh;
    /* ビューポートの高さの50%に設定 */
    object-fit: cover;
    /* 画像がはみ出す部分は切り取る */
}