/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;

    /*横スクロールバーが出てしまう対策*/
    /*スクリーンリーダーには画面外に置いても影響なし*/
    left: 0;
    top: 0;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
    outline: 0;
}

/*********************************************************************/
/*全幅、幅広、通常の設定 s*/
/*********************************************************************/

/*全幅表示*/
.alignfull {

    /* 全幅にする */
    /* 中心を合わせるために調整 */
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
}

/*幅広表示*/
.alignwide {
    position: relative;
    width: min(100vw, 1200px);
    left: 50%;
}

/*
    width: min(100vw, 1200px);********************************************************************/
/*全幅、幅広、通常の設定 e*/
/*********************************************************************/