/************************************************************/
/* 共通スタイル */
/************************************************************/

/* デフォルトでできるメニューを横並びに */
div#primary-menu.menu>ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}




/************************************************************/
/* スマホ版： max-width: 768px */
/************************************************************/
@media screen and (max-width: 768px) {

  div#primary-menu.menu>ul {
    display: block;
  }

}