/* #primary.
 {
  width: 100%;
}

#primary.site-main > img {
  width: 100%;
} */

.slider {
  overflow: hidden;
  /*
                                          ---
                                          height:100vhの理由：
                                          absoluteを考慮し、slider領域を確保する。
                                          height:100vhと指定するとviewport:表示領域の高さがsliderの高さになる
                                          ---
                                      
                                          ---
                                          前提
                                          width:上位でも指定なし or width:100% 指定で、ブラウザの幅が適用されているため、100%にしておけば、ブラウザの幅になる。
                                          height：上位でも指定なし or height:100% 指定で、0となる。
                                          ※ただし、bodyで100%指定されていると高さがブラウザ全体になる
                                          ---
                                        
                                          ---
                                          height:100vhがないとどうなるか？
                                          heightはデフォルトautoで子要素の高さに自動調整される。
                                          しかし、子要素のslideクラスでabsoluteが指定されているので、height:0と同じことになり、
                                          次の同レベルの要素がくっついてしまう。
                                          */
  width: 100vw;
  height: auto;
}

/* スライドエフェクト _s ////////////////////////////*/
.slider.slide-effect .slides {
  display: flex;
  /*transition: transform 1s ease-out;*/
}

.slider.slide-effect .slide {
  min-width: 100%;
  box-sizing: border-box;
}

/* スライドエフェクト _e ////////////////////////////*/

/* フェードエフェクト _s ////////////////////////////*/
.slider.fade-effect .slide {
  /*レイアウト：画像を重ねるためにabsoluteを指定する。基準は親のslider*/
  position: absolute;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.slider.fade-effect .slide.active {
  opacity: 1;
  transition: opacity 3s ease-in-out;
  height: auto;
}

/* フェードエフェクト _e ////////////////////////////*/
.slide img {
  width: 100vw;
  height: auto;
  margin-top: -60px;
}

.slider .text-overlay {
  position: absolute;
  bottom: 150px;
  left: 30px;
  color: white;
  font-size: 60px;
  font-weight: 800;
  padding: 10px;
}

/* @media screen and (max-width: 767px) {
  .slider {
    height: auto;
  }
  .slide img {
    width: 100%;
    height: auto;
  }
} */

/* slider text _e */
/* slider _e //////////////////////////////////////////////// */