/************************************************************/
/* 共通スタイル */
/************************************************************/

/* デフォルトでできるメニューを横並びに */
div#primary-menu.menu>ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}