.site {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

/************************************************************/
/* site level @@@ ***************************************************/
/************************************************************/
.site-header {
    width: 100%;
    padding: 0.2%;
    display: flex;
    justify-content: space-between;
}

/************* content s *******************::*/
.site-content {
    max-width: 1200px;
    display: flex;
}

.site-main {
    flex: 1;
    padding: 1rem;
}

.widget-area {
    flex: 0 0 230px;
    padding: 1rem;
}

/* content s */
/************* content s *******************::*/

.site-footer {
    width: 100%;
    margin: 0;
    padding: 10px;
    padding-top: 0;
    bottom: 0;
}

/************************************************************/
/* entry-level @@@***************************************************/
/************************************************************/

.entry-header {}

.entry-content {}

.entry-footer {}



/************************************************************/
/* widget @@@***************************************************/
/************************************************************/


/************************************************************/
/* else @@@ ***************************************************/
/************************************************************/

/************************************************************/
/* TOP page @@@ ***************************************************/
/************************************************************/
/* メインを下げる */
.integlight_front_page .site-main {
    margin-top: 780px;
}

.integlight_front_page .widget-area.right {
    display: none;
}