.site {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

/************************************************************/
/* site level @@@ ***************************************************/
/************************************************************/
.ly_site_header {
    width: 100%;
    padding: 0.2%;
    display: flex;
    justify-content: space-between;
}

/************* content s *******************::*/
.ly_site_content {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
    /* フッターの高さ分の余白を確保 */

}

.ly_site_content_widgetArea_left {
    flex: 0 0 230px;
    padding: 1rem;
    order: 1;
    /* サイドバーを次に表示 */
}

.ly_site_content_main {
    flex: 1;
    padding: 1rem;
    order: 2;
    /* メインコンテンツを最初に表示 */
}

.ly_site_content_widgetArea_right {
    flex: 0 0 230px;
    padding: 1rem;
    order: 2;
    /* サイドバーを次に表示 */
}

.ly_site_content_widgetArea_bottom {
    flex: 1 1 100%;
    padding: 1rem;
    order: 3;
    /* ボトムウィジェットを最後に表示 */
}


/************* content e *******************::*/

.site-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 10px;
    padding-top: 0;
}

/************************************************************/
/* entry-level @@@***************************************************/
/************************************************************/

.entry-header {}

.entry-content {}

.entry-footer {}



/************************************************************/
/* widget @@@***************************************************/
/************************************************************/


/************************************************************/
/* else @@@ ***************************************************/
/************************************************************/

/************************************************************/
/* TOP page @@@ ***************************************************/
/************************************************************/
/* メインを下げる */
.integlight_front_page .site-main {
    margin-top: 780px;
}

.integlight_front_page .widget-area.right {
    display: none;
}





/************************************************************/
/************************************************************/
/************************************************************/
/* コンポーネント間の余白 @@@ *******************************/
/************************************************************/
/************************************************************/
/************************************************************/

/************************************************************/
/* 垂直方向 @@@ ***************************************************/
/************************************************************/
/* 大 ヘッダーセクションの上 */
/* 小 必須の空白 */

/************************************************************/
/* 水平方向 @@@ ***************************************************/
/************************************************************/

/************************************************************/
/************************************************************/
/************************************************************/
/* コンポーネント内の余白 @@@ *******************************/
/************************************************************/
/************************************************************/
/************************************************************/