/************************************************************/
/* 0. ベース***************************************************@@@/
/************************************************************/

/* 0.1 リンク */

/************************************************************/
/* 1. テキスト***************************************************@@@/
/************************************************************/
/*2.1 段落*/



/*2.2 見出し*/

/** @@@
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */




/*2.3 リスト @@@*/

.list {
    margin-top: 8px;
}




/*2.4 詳細 @@@*/



/*2.5 テーブル @@@*/
/************************************************************/
/* メディア @@@***************************************************/
/************************************************************/
/*3.1 画像 @@@ */
/*3.2 ギャラリー @@@*/
/*3.3 カバー @@@*/
/*3.4 メディアとテキスト @@@*/
/*3.5 テーブル @@@*/


/************************************************************/
/* Comments @@@***************************************************/
/************************************************************/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/************************************************************/
/* Widgets @@@ ***************************************************/
/************************************************************/
.widget {
    margin: 0 0 0.5em;
}

.widget select {
    max-width: 100%;
}

/************************************************************/
/* メニューナビゲーション @@@***************************************************/
/************************************************************/


.main-navigation {
    display: block;
    margin-top: 30px;
    width: 100%;
}

.main-navigation ul {
    display: flex;
    gap: 50px;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    margin-right: 50px;
    padding-left: 0;
}


.main-navigation ul ul {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
    margin-left: 240px;
    z-index: 88888;
}



.main-navigation ul li:hover>ul,
.main-navigation ul li.focus>ul {
    left: auto;
}

.main-navigation ul ul li:hover>ul,
.main-navigation ul ul li.focus>ul {
    display: block;
    left: auto;
}

.main-navigation ul ul a {
    width: 200px;
}

.main-navigation a {
    display: block;
    text-decoration: none;
}

.main-navigation ul>li>a {
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.main-navigation li {
    position: relative;
    background: #000;
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
    display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    text-align: end;
    flex: 1 0 50%;
}

.sub-menu>li {
    list-style: none;
    padding: 20px;
    margin: -20px;
}

.sub-menu li:first-child {
    margin-top: 0;
}

.sub-menu>li:hover {
    opacity: 0.7;
}

/************************************************************/
/* ページコントロール @@@***************************************************/
/************************************************************/

/* 次へ */
.nav-links {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 200px;
}

.page-numbers {
    padding: 5px;
    padding-left: 9px;
    padding-right: 9px;
    border: 2px solid #555;
}

.next.page-numbers,
.prev.page-numbers {
    border: none;
}

.page-numbers:hover,
.next.page-numbers:hover,
.prev.page-numbers:hover {
    background: #f5f4f4;
}

.fa-arrow-alt-circle-right:before,
.fa-circle-right:before,
.fa-arrow-alt-circle-left:before,
.fa-circle-left:before {
    margin-left: 5px;
    margin-top: 5px;
    font-size: 25px;
    vertical-align: -15%;
}

/* 次の記事 */
.nav-title {
    display: block;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.nav-subtitle {
    display: flex;
    flex-direction: row;
}

.post-navigation .nav-links {
    width: 768px;
}

/************************************************************/
/* カード @@@***************************************************/
/************************************************************/

/* カード */
.bl_card_imgWrapper img {
    margin-left: 0;
    width: 768px;
    height: 170px;
    object-fit: cover;
}

.bl_card_imgWrapper {
    width: 278px;
    height: 170px;
    overflow: hidden;
}

.bl_card_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background: #f5f4f4;
    padding: 15px;
    margin-bottom: 30px;
}

.bl_card_txt {
    width: fit-content;
    font-size: 12px;
}

.entry-date {
    font-size: 12px;
}


.bl_card_ttl {
    margin: 0;
}

.category-label {
    position: relative;
    left: 0;
    top: -170px;
    background: #222;
    color: #fff;
    font-size: 12px;
    border-radius: 0;
}

/* カードのテキスト下線を取る */
.bl_card_column a:hover {
    text-decoration: none;
}

/* カードの写真ホバー時アップ */
.bl_card_imgWrapper img {
    transition: 1s all;
}

.bl_card_imgWrapper img:hover {
    transform: scale(1.1, 1.1);
    transition: 1s all
}



/************************************************************/
/* 検索ボックス @@@***************************************************/
/************************************************************/
#site-search {
    width: 251px;
}


.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
}

/*************************************/
/* パンくずs @@@*/
/*************************************/
.create_bread {
    display: flex;
    flex-direction: row;
    font-size: small;
    gap: 10px;
    list-style: none;
    margin: 0;
}

/* パンくずe */


/*************************************/
/* 新着記事 @@@ s*/
/*************************************/
.wp-block-latest-posts__post-title {
    display: block;
    padding-top: 5px;
    padding-bottom: 8px;
    border-bottom: #222 dotted 2px;
}

.wp-block-latest-posts__list {
    margin: 0;
}

/* 新着記事 e*/


/************************************************************/
/* その他 @@@ ***************************************************/
/************************************************************/



.updated:not(.published) {
    display: none;
}


.page-links {
    clear: both;
    /*margin: 0 0 1.5em;*/
}



.attachment-post-thumbnail {
    width: 768px;
    height: auto;
}






/* fa s*/

.fa-chevron-right:before {
    margin-left: 10px;
}

.fa-solid,
.fas {
    font-weight: 900;
    margin-top: 4px;
    margin-right: 0;
}

.fa-calendar-alt:before,
.fa-calendar-days:before {
    margin-left: 3px;
    margin-right: 5px;
}

.fa-arrow-alt-circle-left:before,
.fa-circle-left:before,
.fa-arrow-alt-circle-right:before,
.fa-circle-right:before {
    font-size: large;
    color: #8c8c8c;
}

.fa-magnifying-glass:before,
.fa-search:before {
    border: 1px solid #222;
    border-left: none;
    font-size: large;
    padding: 6.5px;
    margin-top: 10px;
}

/* fa e*/


/* tag s */
.tag-cloud-link {
    width: fit-content;
    display: block;
    background: #c4c4c4;
    padding: 5px;
}

.wp-block-tag-cloud {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
}

/* tag e */