/************************************************************/
/* 0. header***************************************************@@@/
/************************************************************/

.site-header {
    background-color: #000;
}

.custom-logo {
    width: 295.21px;
    height: auto;
    background: #000;
    padding: 5px 20px 5px 20px;
}


.thumbnail {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
}

/************************************************************/
/* 0. footer***************************************************@@@/
/************************************************************/

.site-footer {

    text-align: center;
    background: #555;
    color: #fff;
    position: fixed;


}



/************************************************************/
/* 1. テキスト***************************************************@@@/
/************************************************************/
/*2.1 段落*/



/*2.2 見出し*/

/** @@@
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

.site-title {
    display: none;
}


.entry-title {
    font-size: 2em;
    margin-bottom: 20px;
}




/*2.3 リスト @@@*/

.list {
    margin-top: 8px;
}




/*2.4 詳細 @@@*/



/*2.5 テーブル @@@*/
/************************************************************/
/* メディア @@@***************************************************/
/************************************************************/
/*3.1 画像 @@@ */
/*3.2 ギャラリー @@@*/
/*3.3 カバー @@@*/

/* カバーイメージ */
.wp-block-cover,
.wp-block-cover-image {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* カバー画像e */



/*3.4 メディアとテキスト @@@*/
/*3.5 テーブル @@@*/


/************************************************************/
/* Comments @@@***************************************************/
/************************************************************/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/************************************************************/
/* Widgets @@@ ***************************************************/
/************************************************************/
.widget {
    margin: 0 0 0.5em;
}

.widget select {
    max-width: 100%;
}


/* ウィジェット カテゴリー s */
.wp-block-categories {
    list-style: none;
    line-height: 2.8;
}

.cat-item {
    border-bottom: 1px solid #888;
    margin-left: -13px;
}

/* ウィジェット カテゴリー e */





/************************************************************/
/* メニューナビゲーション @@@***************************************************/
/************************************************************/


.main-navigation {
    display: block;
    margin-top: 30px;
    width: 100%;
}

.main-navigation ul {
    display: flex;
    gap: 50px;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    margin-right: 50px;
    padding-left: 0;
}


.main-navigation ul ul {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
    margin-left: 240px;
    z-index: 88888;
}



.main-navigation ul li:hover>ul,
.main-navigation ul li.focus>ul {
    left: auto;
}

.main-navigation ul ul li:hover>ul,
.main-navigation ul ul li.focus>ul {
    display: block;
    left: auto;
}

.main-navigation ul ul a {
    width: 200px;
}

.main-navigation a {
    display: block;
    text-decoration: none;
}

.main-navigation ul>li>a {
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.main-navigation li {
    position: relative;
    background: #000;
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
    display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    text-align: end;
    flex: 1 0 50%;
}

.sub-menu>li {
    list-style: none;
    padding: 20px;
    margin: -20px;
}

.sub-menu li:first-child {
    margin-top: 0;
}

.sub-menu>li:hover {
    opacity: 0.7;
}

/************************************************************/
/* ページコントロール @@@***************************************************/
/************************************************************/

/* 次へ */
.nav-links {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 200px;
}

.page-numbers {
    padding: 5px;
    padding-left: 9px;
    padding-right: 9px;
    border: 2px solid #555;
}

.next.page-numbers,
.prev.page-numbers {
    border: none;
}

.page-numbers:hover,
.next.page-numbers:hover,
.prev.page-numbers:hover {
    background: #f5f4f4;
}

.fa-arrow-alt-circle-right:before,
.fa-circle-right:before,
.fa-arrow-alt-circle-left:before,
.fa-circle-left:before {
    margin-left: 5px;
    margin-top: 5px;
    font-size: 25px;
    vertical-align: -15%;
}

/* 次の記事 */
.nav-title {
    display: block;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.nav-subtitle {
    display: flex;
    flex-direction: row;
}

.post-navigation .nav-links {
    width: 768px;
}

/************************************************************/
/* 目次 @@@***************************************************/
/************************************************************/
.post-toc li {
    margin-bottom: 10px;
}

.post-toc {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border: #222 2px dotted;
    display: block;
    border-left: none;
    border-right: none;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 50px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.post-toc h2 {
    margin-top: 0;
    border-bottom: none;
}

.post-toc>h2 {
    text-align: center;
    width: fit-content;
}

.post-toc ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 15px;
}

.post-toc ul li {
    margin: 5px 0;
}

.post-toc ul li a {
    text-decoration: none;
    color: #222;
}

.post-toc ul li a:hover {
    text-decoration: underline;
}

.post-toc ul li.toc-h1 a {
    font-weight: bold;
    margin-left: 0;
}

.post-toc ul li.toc-h2 a {
    margin-left: 0;
}

.post-toc ul li.toc-h3 a {
    margin-left: 40px;
}

.post-toc ul li a {
    font-size: 14px;
    line-height: 2.2;
    color: #222;
}





/************************************************************/
/* カード @@@***************************************************/
/************************************************************/


/* 投稿一覧ページのカード s */
/* 要修正　通常カードの下にもっていくと正常に表示されない*/
.bl_card_txt {
    width: 768px;
    line-height: 1.8;
}

.category-label {
    position: relative;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
}

/* 投稿一覧ページのカード e */


/* 通常カード */
.bl_card_imgWrapper img {
    margin-left: 0;
    width: 768px;
    height: 170px;
    object-fit: cover;
}

.bl_card_imgWrapper {
    width: 278px;
    height: 170px;
    overflow: hidden;
}

.bl_card_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background: #f5f4f4;
    padding: 15px;
    margin-bottom: 30px;
}

.bl_card_txt {
    width: fit-content;
    font-size: 12px;
}

.entry-date {
    font-size: 12px;
}


.bl_card_ttl {
    margin: 0;
}

.category-label {
    position: relative;
    left: 0;
    top: -170px;
    background: #222;
    color: #fff;
    font-size: 12px;
    border-radius: 0;
}

/* カードのテキスト下線を取る */
.bl_card_column a:hover {
    text-decoration: none;
}

/* カードの写真ホバー時アップ */
.bl_card_imgWrapper img {
    transition: 1s all;
}

.bl_card_imgWrapper img:hover {
    transform: scale(1.1, 1.1);
    transition: 1s all
}



/************************************************************/
/* 検索ボックス @@@***************************************************/
/************************************************************/
#site-search {
    width: 251px;
}


.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
}

/* 検索バー */
.wp-block-search__button.has-icon {
    width: 42px;
}

.wp-block-search .wp-block-search__label {
    display: none;
}



/*************************************/
/* パンくずs @@@*/
/*************************************/
.create_bread {
    display: flex;
    flex-direction: row;
    font-size: small;
    gap: 10px;
    list-style: none;
    margin: 0;
}

/* パンくずe */


/*************************************/
/* 新着記事 @@@ s*/
/*************************************/
.wp-block-latest-posts__post-title {
    display: block;
    padding-top: 5px;
    padding-bottom: 8px;
    border-bottom: #222 dotted 2px;
}

.wp-block-latest-posts__list {
    margin: 0;
}

/* 新着記事 e*/

/************************************************************/
/*** お問い合わせ s ***/
/************************************************************/
.wp-block-buttons {
    width: 40%;
    height: 20px;
}

.wp-block-buttons>.wp-block-button.has-custom-font-size .wp-block-button__link {
    font-size: 22px;
    color: #fff;
    width: 250px;
}

.wp-container-core-buttons-is-layout-1.wp-container-core-buttons-is-layout-1 {
    margin-left: auto;
    margin-right: auto;
}

/*---------お問い合わせ e-----*/

/************************************************************/
/* その他 @@@ ***************************************************/
/************************************************************/



.updated:not(.published) {
    display: none;
}


.page-links {
    clear: both;
    /*margin: 0 0 1.5em;*/
}



.attachment-post-thumbnail {
    width: 768px;
    height: auto;
}






/* fa s*/

.fa-chevron-right:before {
    margin-left: 10px;
}

.fa-solid,
.fas {
    font-weight: 900;
    margin-top: 4px;
    margin-right: 0;
}

.fa-calendar-alt:before,
.fa-calendar-days:before {
    margin-left: 3px;
    margin-right: 5px;
}

.fa-arrow-alt-circle-left:before,
.fa-circle-left:before,
.fa-arrow-alt-circle-right:before,
.fa-circle-right:before {
    font-size: large;
    color: #8c8c8c;
}

.fa-magnifying-glass:before,
.fa-search:before {
    border: 1px solid #222;
    border-left: none;
    font-size: large;
    padding: 6.5px;
    margin-top: 10px;
}

/* fa e*/


/* tag s */
.tag-cloud-link {
    width: fit-content;
    display: block;
    background: #c4c4c4;
    padding: 5px;
}

.wp-block-tag-cloud {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
}

/* tag e */