/************************************************************/
/* 0. header***************************************************@@@/
/************************************************************/

.site-header {
    background-color: #000;
}


.site-header .custom-logo {
    width: 295.21px;
    height: auto;
    background: #000;
}

/************************************************************/
/* メニューナビゲーション @@@***************************************************/
/************************************************************/


/* メニュー(lv1)のスタイル */
.main-navigation ul {
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    list-style: none;

}

.main-navigation li {
    position: relative;
    background: #000;
}

.main-navigation a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* サブメニュー(lv2)のスタイル */
.main-navigation ul ul {
    display: none;
    flex-direction: column;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 100%;
    z-index: 99;
    gap: 5px;
    /* フレックスアイテム間の間隔を10pxに設定 */
}

/* サブサブメニュー(lv3)のスタイル */
.main-navigation ul ul ul {}

/* ホバーまたはフォーカス時のサブメニューの表示 */
.main-navigation ul li:hover>ul,
.main-navigation ul li:focus-within>ul {
    display: flex;
}

.main-navigation ul ul li:hover>ul,
.main-navigation ul ul li:focus-within>ul {
    display: flex;
}


/*サブメニューの位置*/
.main-navigation .sub-menu {
    /*left: -50px;
    */
    top: -10px
}

/*サブサブメニューの位置*/
.main-navigation .sub-menu .sub-menu {
    left: 100px;
}




/* サブメニュー内のリンクスタイル */
.main-navigation ul ul a {
    width: 240px;
}

/* サブメニュー内のアイテムのスタイル */

/*.main-navigation .sub-menu li:first-child {} */

.main-navigation .sub-menu>li:hover {
    opacity: 0.7;
}



/* レスポンシブ対応（ハンバーガーメニュー） */
/* ハンバーガーメニュー用スタイル */
.menuToggle-checkbox {
    display: none;
}

.menuToggle-label {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 10px;
}


/* モバイルビュー */
@media screen and (max-width: 768px) {
    .menuToggle-containerForMenu {
        display: none;
        flex-direction: column;
        gap: 0;
        background: #fff;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
    }

    .menu li {
        text-align: center;
    }

    .menuToggle-label {
        display: block;
    }

    /* チェックボックスが有効な場合にメニューを表示 */
    .menuToggle-checkbox:checked~.menuToggle-containerForMenu {
        display: block;
        top: 15%;

    }

    .menuToggle-checkbox:checked~.menuToggle-containerForMenu .menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .menuToggle-checkbox:checked~.menuToggle-containerForMenu .menu li {
        margin: 0;
    }
}



/************************************************************/
/* 0. footer***************************************************@@@/
/************************************************************/

.site-footer {

    text-align: center;
    background: #555;
    color: #fff;


}

/************************************************************/
/* 0. thumbnail***************************************************@@@/
/************************************************************/
/*
.thumbnail {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
}
    */

.post-thumbnail {
    display: flex;
    justify-content: center;
    /* 水平方向の中央揃え */
}

/************************************************************/
/* 1. テキスト***************************************************@@@/
/************************************************************/



/*******************************/
/*2 Text系タグのfont-size以外の設定 */
/*******************************/
/*2.1 段落*/



/*2.2 見出し*/



/* 本文のタイトル */













/*2.4 詳細 */



/*2.5 テーブル */
/************************************************************/
/* メディア @@@***************************************************/
/************************************************************/
/*3.1 画像  */
/*3.2 ギャラリー */
/*3.3 カバー */

/* カバーイメージ */

/* カバー画像e */



/*3.4 メディアとテキスト */
/*3.5 テーブル */


/************************************************************/
/* Comments @@@***************************************************/
/************************************************************/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/************************************************************/
/* Widgets @@@ ***************************************************/
/************************************************************/
.widget {

    content: " ";
    /*ダミー*/
}

/***************************************/

/* ウィジェット カテゴリー s */
.wp-block-categories {
    list-style: none;
    line-height: 2.8;
    padding-left: 0px;
}

.cat-item {
    border-bottom: 1px solid #888;

}

/* ウィジェット カテゴリー e */






/************************************************************/
/* ページコントロール @@@***************************************************/
/************************************************************/

/* 次へ */
.pagination .nav-links {
    width: 300px;
    display: block;




}

.pagination .page-numbers {
    border: 2px solid #555;
}

.pagination .next.page-numbers,
.pagination .prev.page-numbers {
    border: none;
}

.pagination .page-numbers:hover,
.pagination .next.page-numbers:hover,
.pagination .prev.page-numbers:hover {
    background: #f5f4f4;
}

.pagination .fa-arrow-alt-circle-right:before,
.pagination .fa-circle-right:before,
.pagination .fa-arrow-alt-circle-left:before,
.pagination .fa-circle-left:before {


    vertical-align: -15%;
}

/************************************************************/
/* ページコントロール 次の記事@@@***************************************************/
/************************************************************/
.navigation.post-navigation {}

.navigation.post-navigation .nav-links {
    display: flex;
    justify-content: space-between;
    /* 子要素間のスペースを等しく */
    width: 100%;
    /* 幅を広げる */
}

@media screen and (max-width: 768px) {

    .navigation.post-navigation .nav-links {
        flex-direction: column;
    }
}

.nav-previous,
.nav-next {
    /* アイコンとテキストの縦方向中央揃え */
}

.nav-subtitle {
    display: flex;
    align-items: center;
    /* アイコンとテキストの縦方向中央揃え */
    gap: 0.5em;
    /* アイコンとタイトルの間のスペース */
}

.nav-title {}

.nav-previous i,
.nav-next i {}




/************************************************************/
/* 目次 @@@***************************************************/
/************************************************************/

.post-toc {
    background-color: #eee;
    min-width: 40%;
    /* 幅の最小値を40%に設定 */
    max-width: fit-content;
    /* コンテンツに応じて幅を広げる */
    margin-left: auto;
    /* 左: 自動調整 */
    margin-right: auto;
    /* 右: 自動調整 */
    margin-top: var(--ly-elementTopMargin);
    padding: var(--ly-elementPadding);
}


.post-toc h2 {

    border-bottom: none;
    text-align: center;
    width: fit-content;
}


.post-toc ul {
    list-style-type: none;

}

.post-toc ul li {

    content: " ";
    /*ダミー*/
}

.post-toc ul li a {
    text-decoration: none;
    color: #222;
    line-height: 2.2;
    color: #222;
}

.post-toc ul li a:hover {
    text-decoration: underline;
}

.post-toc ul li.toc-h1 a {
    font-weight: bold;

}

.post-toc ul li.toc-h2 a {

    content: " ";
    /*ダミー*/
}

.post-toc ul li.toc-h3 a {

    content: " ";
    /*ダミー*/

}






/************************************************************/
/* カード @@@***************************************************/
/************************************************************/

.bl_card_container {
    display: grid;
    gap: 0.5rem;

    border-radius: 12px;

}

.bl_card_img {
    display: flex;
}

.bl_card_head {
    display: flex;
    flex-direction: column;
}

.bl_card_body {
    display: flex;
    flex-direction: column;
}

/* PCレイアウト */
/* PCレイアウト */
@media (min-width: 769px) {
    .bl_card_container {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto 2fr;
    }

    .bl_card_img {
        grid-row: span 2;
        /* 画像を2行分占める */
    }
}

/* スマホレイアウト */
@media (max-width: 768px) {
    .bl_card_container {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto;
    }

    .bl_card_body {
        grid-column: span 2;
        /* 本文を2列分占める */
    }
}







/* 投稿一覧ページのカード s */
/* 要修正　通常カードの下にもっていくと正常に表示されない*/


.bl_card_container {
    background: #444;
    color: #fff;
    padding: var(--ly-elementPadding);
    margin-top: var(--ly-elementTopMargin);

}

.bl_card_container a {

    color: #fff;
    text-decoration: none;
}

.bl_card_container a:hover {
    text-decoration: none;
}



/* 画像側 s */
.bl_card_container .bl_card_imgWrapper {
    overflow: hidden;
    font-size: 0.8rem;
}

.bl_card_container .bl_card_imgWrapper img {
    width: 100%;
    object-fit: cover;
}


.bl_card_container .bl_card_imgWrapper img:hover {
    transform: scale(1.1, 1.1);
    transition: 1s all
}

/* 画像側 e */



/* テキスト側 s */

.bl_card_container .bl_card_ttl {
    margin-top: 0;

    text-decoration: none;
}


.bl_card_container .entry-date {
    font-size: 0.8rem;

}

.bl_card_container .bl_card_txt {
    width: fit-content;
    font-size: 0.8rem;
}

/* テキスト側 e */

/************************************************************/
/* 検索ボックス @@@***************************************************/
/************************************************************/

/* 検索バー */
.wp-block-search .wp-block-search__label {
    display: none;
}

.wp-block-search__button.has-icon {
    width: 42px;
}




/*************************************/
/* パンくずs @@@*/
/*************************************/
.create_bread {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* 垂直方向で中央揃え */
    gap: 10px;
    /* 項目間の間隔 */
    list-style: none;
    /* マーカーを非表示 */
    font-size: 0.7rem;
    /* 文字サイズを小さく */
    padding: 0;
    /* 不要な余白を削除 */
    margin: 0;
    /* 不要な余白を削除 */
}

.create_bread a {
    font-size: inherit;
    /* 親要素のフォントサイズに合わせる */
    text-decoration: none;
    /* リンクの下線を消す */
    color: inherit;
    /* リンクの色を親要素と一致させる */
}

.create_bread a:hover {
    text-decoration: underline;
    /* ホバー時に下線を表示 */
    /*color: blue;  ホバー時に色を変える（任意） */
}

/* パンくずe */

/*************************************/
/* entry-header + 投稿情報 s*/
/*************************************/
.entry-header,
.entry-footer {
    margin-bottom: 0.7rem;
}

/* 投稿日時用 */
.posted-on,
.byline,
.cat-links,
.edit-link,
.tags-links {
    font-size: 0.9rem;
    /* 小さめの文字サイズ */
    color: #666;
}

.posted-on a,
.byline a,
.cat-links a,
.edit-link a,
.tags-links a {
    font-size: 0.7rem;
    /* 親要素のフォントサイズに合わせる */
    text-decoration: none;
    /* リンクの下線を消す */
    color: blue;
    /* リンクの色を親要素と一致させる */
}





/*************************************/
/* 新着記事 @@@ s*/
/*************************************/
.wp-block-latest-posts__post-title {
    display: block;


    border-bottom: #222 dotted 2px;
}

.wp-block-latest-posts__list {

    content: " ";
    /*ダミー*/
}

/* 新着記事 e*/

/************************************************************/
/*** ボタン s ***/
/************************************************************/

/*** ボタン s ***/


.wp-block-buttons>.wp-block-button.has-custom-font-size .wp-block-button__link {
    min-width: 150px;
    color: #fff;
}


/*** ボタン e ***/



/************************************************************/
/* タグ @@@ ***************************************************/
/************************************************************/

/* tag s */
.wp-block-tag-cloud {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;

}

.wp-block-tag-cloud .tag-cloud-link {
    background: #c4c4c4;

}


/* tag e */



/************************************************************/
/* その他 @@@ ***************************************************/
/************************************************************/



.updated:not(.published) {
    display: none;
}








/************************************************************/
/* ヘルパースタイル@@@ ***************************************************/
/************************************************************/


/* fa s  all.mini.cssのfont awsomeのCSSのカスタマイズ*/

.fa-chevron-right:before {

    content: " ";
    /*ダミー*/
}

.fa-solid,
.fas {
    font-weight: 900;


}

.fa-calendar-alt:before,
.fa-calendar-days:before {

    content: " ";
    /*ダミー*/
}

.fa-arrow-alt-circle-left:before,
.fa-circle-left:before,
.fa-arrow-alt-circle-right:before,
.fa-circle-right:before {
    color: #8c8c8c;
}

.fa-magnifying-glass:before,
.fa-search:before {
    border: 1px solid #222;
    border-left: none;


}

/* fa e*/