footer {
  background: linear-gradient(90deg, #ec8be7 20%, #edb1ea 40%, #d579ee 70%);
}

button {
  background: linear-gradient(90deg, #ec8be7 20%, #edb1ea 40%, #d579ee 70%);
}


.pagetop {
  background: linear-gradient(90deg, #ec8be7 20%, #edb1ea 40%, #d579ee 70%);
}

p.head {
  background: linear-gradient(90deg, #ec8be7 20%, #edb1ea 40%, #d579ee 70%);
}

h2::after,
h3::after {
  background-color: #ec8be7;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: linear-gradient(90deg, #ec8be7 20%, #edb1ea 40%, #d579ee 70%);
}