.integlight_pt footer {
  background: #f936f0;
}

.integlight_pt button {
  background: #f936f0;
}


.integlight_pt .pagetop {
  background: #f936f0;
}

.integlight_pt p.head {
  background: #f936f0;
}

.integlight_pt h2::after,
.integlight_pt h3::after {
  background: #f936f0;
}

.integlight_pt .entry-footer {
  background: none;
  color: #222;
}

.integlight_pt button,
.integlight_pt input[type="button"],
.integlight_pt input[type="reset"],
.integlight_pt input[type="submit"] {
  background: #f936f0;
}

/* background: linear-gradient(90deg, #ec8be7 20%, #edb1ea 40%, #d579ee 70%); */