/* .integlight_pt footer {
  background-color: #fa9303;
} */

.integlight_pt button {
  background-color: #fa9303;
}


.integlight_pt .pagetop {
  background-color: #fa9303;
}

.integlight_pt p.head {
  background-color: #fa9303;
}

.integlight_pt h2::after {
  background-color: #fa9303;
}

.integlight_pt h3::after {
  background-color: #75eab0;
}

.integlight_pt .entry-footer {
  background: none;
  color: #222;
}

.integlight_pt button,
.integlight_pt input[type="button"],
.integlight_pt input[type="reset"],
.integlight_pt input[type="submit"] {
  background-color: #fa9303;
  color: #fff;
}

/************ボタンアニメーション**********/
.wp-block-buttons > .wp-block-button.has-custom-width .wp-block-button__link {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding: 10px 20px;
  border: 1px solid #555;
  background-color: #fff; /* 非ホバー時は白背景 */
  color: #555; /* 非ホバー時は濃いテキスト色 */
  border-radius: inherit;
  cursor: pointer;
  text-align: center;
  transition: color 0.3s ease-in-out;
}

.wp-block-buttons > .wp-block-button.has-custom-width .wp-block-button__link:hover,
.wp-block-buttons > .wp-block-button.has-custom-width .wp-block-button__link:active {
  color: #fff !important; /* ホバー時は白テキスト */
}

.wp-block-buttons > .wp-block-button.has-custom-width .wp-block-button__link::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #fa9303;
  transition: left 0.3s ease-in-out;
  z-index: -1;
}

.wp-block-buttons > .wp-block-button.has-custom-width .wp-block-button__link:hover::before,
.wp-block-buttons > .wp-block-button.has-custom-width .wp-block-button__link:active:before {
  left: 0;
}

#page-top {
  border: 1px solid #75eab0;
  color: #75eab0; 
}

#page-top:hover {
  background: #fa9303;
  border: #fa9303;
  color: #fff;
}


.posted-on a, .byline a, .cat-links a, .edit-link a, .tags-links a {
  color: #75eab0;
}

.post-toc {
  background-color: #FBF4C5;
}

.site-header,
.site-footer {
  background-color: #221104;
}

