footer {
  background: linear-gradient(90deg, #05c263 20%, #7fd7ab 40%, #9ecd94 70%);
}

button {
  background: linear-gradient(90deg, #05c263 20%, #7fd7ab 40%, #9ecd94 70%);
}


.pagetop {
  background: linear-gradient(90deg, #05c263 20%, #7fd7ab 40%, #9ecd94 70%);
}

p.head {
  background: linear-gradient(90deg, #05c263 20%, #7fd7ab 40%, #9ecd94 70%);
}

h2::after,
h3::after {
  background-color: #05c263;
}