footer {
  background-color: #f90101;
}

button {
  background-color: #f90101;
}


.pagetop {
  background-color: #f90101;
}

p.head {
  background-color: #f90101;
}

h2::after,
h3::after {
  background-color: #f90101;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #f90101;
}