.integlight_pt footer {
  background-color: #f90101;
}

.integlight_pt button {
  background-color: #f90101;
}


.integlight_pt .pagetop {
  background-color: #f90101;
}

.integlight_pt p.head {
  background-color: #f90101;
}

.integlight_pt h2::after,
.integlight_pt h3::after {
  background-color: #f90101;
}

.integlight_pt .entry-footer {
  background: none;
  color: #222;
}

.integlight_pt button,
.integlight_pt input[type="button"],
.integlight_pt input[type="reset"],
.integlight_pt input[type="submit"] {
  background-color: #f90101;
}