a,
a:visited {
  color: #222;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
}

.site {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 60px;
}

.attachment-post-thumbnail {
  width: 768px;
  height: auto;
}

main {
  width: 768px;
  font-family: Arial, Helvetica, sans-serif;
}

.entry-content > p {
  width: 768px;
}
p.logged-in-as {
  width: 768px;
}

aside {
  width: 288px;
  margin-top: 120px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-top: 50px;
  margin-right: 15px;
  margin-bottom: 30px;
}

.create_bread {
  display: flex;
  flex-direction: row;
  font-size: small;
  gap: 10px;
  list-style: none;
  margin: 0;
}

i {
  margin-right: 3px;
}

.fa-chevron-right:before {
  margin-left: 10px;
}

.fa-solid,
.fas {
  font-weight: 900;
  margin-top: 4px;
  margin-right: 0;
}

.fa-calendar-alt:before,
.fa-calendar-days:before {
  margin-left: 3px;
  margin-right: 5px;
}

.fa-arrow-alt-circle-left:before,
.fa-circle-left:before,
.fa-arrow-alt-circle-right:before,
.fa-circle-right:before {
  font-size: large;
  color: #8c8c8c;
}

.contents {
  border: 3px dotted #222;
  width: 310px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-bottom: none;
}

div.table {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.list {
  margin-top: 8px;
}

h2 {
  margin-top: 50px;
}

h3 {
  margin-top: 50px;
}

.matter {
  line-height: 2;
}

/* span {
  color: #f50404;
} */

input {
  padding: 8px;
  border: 1px solid #222;
  border-radius: 0;
  width: 768px;
}

select {
  padding: 8px;
  border: 1px solid #222;
  border-radius: 0;
}

textarea {
  padding: 8px;
  border: 1px solid #222;
  border-radius: 0;
  width: 768px;
}

label {
  display: block;
  margin-top: 15px;
}

button {
  width: 180px;
}

#site-search {
  width: 251px;
}

.fa-magnifying-glass:before,
.fa-search:before {
  border: 1px solid #222;
  border-left: none;
  font-size: large;
  padding: 6.5px;
  margin-top: 10px;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
}

p.post {
  display: block;
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px dotted #222;
}

.tag-cloud-link {
  width: fit-content;
  display: block;
  background: #c4c4c4;
  padding: 5px;
}

.wp-block-tag-cloud {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

/* #blog-check1,
#blog-check2,
#blog-check3,
#blog-check4,
#blog-check5 {
  display: none;
}
.widget_categories {
  background: #c4c4c4;
  color: #222;
  display: block;
  margin-bottom: 1px;
  padding: 10px;
  margin-top: 5px;
  line-height: 2;
}

.wp-block-categories ul {
  opacity: 0;
  list-style: none;
}

.cat-item li {
  border-bottom: #fff solid 3px;
  background: #f5f4f4;
  height: 0;
  margin-top: 0;
  padding-left: 10px;
  overflow: hidden;
  transition: all 0.5s;
}

.cat-item .current-cat::marker {
  display: none;
}

#blog-check1:checked ~ #blog-content1 li,
#blog-check2:checked ~ #blog-content2 li,
#blog-check3:checked ~ #blog-content3 li,
#blog-check4:checked ~ #blog-content4 li,
#blog-check5:checked ~ #blog-content5 li {
  height: 54px;
  opacity: 1;
} */

h2,
h3 {
  color: #222;
  padding-bottom: 5px;
  border-bottom: 1px solid #222;
  width: 100%;
  position: relative; /*::afterにabsoluteをかけるので設定*/
}
h2::after,
h3::after {
  content: ""; /* コンテンツを追加 */
  width: 50%; /* 線の幅 */
  height: 3px; /* 線の高さ */
  background: #555; /* 線の色 */
  position: absolute; /* position: relative;からの線の絶対位置 */
  bottom: 0; /* 線の位置 */
  left: 0; /* 線の位置 */
  transform: scale(0, 1); /* 線のx軸の長さを0 */
  transition: 0.5s; /* 要素の変形する時間*/
  transform-origin: left top; /* 要素の座標の原点を設定*/
}
h3::after {
  height: 1.5px;
}
h2:hover::after,
h3:hover::after,
h2:focus:after,
h3:focus:after {
  transform: scale(1, 1); /* 線のx軸の長さを1 */
}

/*
.hover02 {
  color: #222;

  padding-bottom: 5px;
  position: relative; 
}
.hover02::after {
  content: ""; 
  width: 150px; 
  height: 1px; 
  background-color: #222; 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  transform: scale(0, 1); 
  transition: 0.5s; 
  transform-origin: left top; 
}
.hover02:hover::after,
.hover02:focus:after {
  transform: scale(1, 1); 
}
*/

.entry-footer {
  background: none;
  text-align: right;
  padding: 0;
}

.wp-block-latest-posts__post-title {
  display: block;
  padding-top: 5px;
  padding-bottom: 8px;
  border-bottom: #222 dotted 2px;
}

.wp-block-latest-posts__list {
  margin: 0;
}

.person {
  border-radius: 50%;
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.plofile {
  background: #f5f4f4;
  line-height: 1.8;
  padding: 20px;
  margin-top: 10px;
}
.text {
  text-align: center;
}

figure > img {
  width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type="search"] {
  height: 40px;
  border: 1px solid #222;
  border-radius: 0;
  width: 100%;
}

[type="submit"] {
  margin: 0;
  height: 40px;
  border: 1px solid #222;
  border-left: none;
  border-radius: 0;
}

/* カード */
.bl_card_imgWrapper img {
  margin-left: 0;
  width: 768px;
  height: 170px;
  object-fit: cover;
}

.bl_card_container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background: #f5f4f4;
  padding: 15px;
  margin-bottom: 30px;
}

.bl_card_txt {
  width: fit-content;
  font-size: 15px;
}

.bl_card_ttl {
  margin: 0;
}

.category-label {
  position: relative;
  left: 0;
  top: -167px;
  background: #222;
  color: #fff;
  font-size: 12px;
  border-radius: 0;
}

/* 次へ */
.nav-links {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.page-numbers {
  padding: 5px;
  padding-left: 9px;
  padding-right: 9px;
  border: 2px solid #555;
}

.next.page-numbers,
.prev.page-numbers {
  border: none;
}

.page-numbers:hover,
.next.page-numbers:hover,
.prev.page-numbers:hover {
  background: #f5f4f4;
}

.fa-arrow-alt-circle-right:before,
.fa-circle-right:before,
.fa-arrow-alt-circle-left:before,
.fa-circle-left:before {
  margin-left: 5px;
  margin-top: 5px;
  font-size: 25px;
  vertical-align: -15%;
}

/* 次の記事 */
.nav-title {
  display: block;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.nav-subtitle {
  display: flex;
  flex-direction: row;
}

.post-navigation .nav-links {
  width: 768px;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: none;
  border-radius: 0;
  background: #e6e6e6;
  width: 200px;
  color: #fff;
  line-height: 1;
  padding: 0.6em 1em 0.4em;
}

@media screen and (max-width: 767px) {
  input,
  textarea {
    width: 100%;
  }

  h1 {
    margin-top: 30px;
    margin-bottom: 15px;
  }

  main {
    width: 85%;
  }

  .hover::after {
    width: 150px;
  }

  .hover:focus:after,
  .hover02:focus:after {
    transform: scale(1, 1); /* 線のx軸の長さを1 */
  }

  .photo {
    width: 60%;
  }
}
