#primary.site-main {
  width: 100%;
}

#primary.site-mai > img {
  width: 100%;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* スライドエフェクト _s ////////////////////////////*/
.slider.slide-effect .slides {
  display: flex;
  /*transition: transform 1s ease-out;*/
}

.slider.slide-effect .slide {
  box-sizing: border-box;
}
/* スライドエフェクト _e ////////////////////////////*/

/* フェードエフェクト _s ////////////////////////////*/
.slider.fade .slides {
  transition: transform 1s ease-out;
}

.slider.fade .slide {
  height: 0;
  min-width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slider.fade .slide.active {
  height: auto;
  opacity: 1;
}

/* フェードエフェクト _e ////////////////////////////*/

.slide img {
  width: 100%;
  height: auto;
}

.text-overlay {
  position: absolute;
  bottom: 150px;
  left: 30px;
  color: white;
  font-size: 60px;
  font-weight: 800;
  padding: 10px;
}

/* slider text _e */
/* slider _e //////////////////////////////////////////////// */

/* h1
--------------------------------------------- */
.entry-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.entry-header,
.entry-content {
  margin-top: 20px;
}

/* 目次
--------------------------------------------- */

/* +css
--------------------------------------------- */
html {
  font-size: 100%;
  /*ユーザー設定の文字サイズを正しく反映*/
}

* {
  box-sizing: border-box;
  /*余白や線を幅や高さに含める*/
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  /*画像が親要素からはみ出すのを防ぐ*/
  height: auto;
}

body {
  margin: 0;
  padding: 0;
}

.site-header {
  width: 100%;
  background-color: #000;
  padding: 0.2%;
  display: flex;
  justify-content: space-between;
  /*両端に配置*/
}

.custom-logo {
  width: 295.21px;
  height: auto;
  background: #000;
  padding: 5px 20px 5px 20px;
}

.site-title {
  display: none;
}

.main-navigation ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-right: 50px;
  justify-content: flex-end;
  /* margin-top: 30px; */
}

.sub-menu > li {
  list-style: none;
  padding: 20px;
  margin: -20px;
}

.sub-menu li:first-child {
  margin-top: 0;
}

.sub-menu > li:hover {
  opacity: 0.7;
}

.main-navigation ul > li > a {
  text-decoration: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

.pagetop {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 48px;
  height: 48px;
  text-decoration: none;
  background: linear-gradient(90deg, #0052d4 20%, #607aec 40%, #6fb1fc 70%);
  display: block;
  text-align: center;
  border-radius: 24px;
  z-index: 1000;
}

.pagetop::before {
  content: "\f062";
  font-family: "Font Awesome 6 Free";
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  line-height: 48px;
}

.hero {
  width: 100%;
}

.hero_img {
  position: relative;
}

p.headder {
  position: absolute;
  /*絶対配置*/
  color: #fff;
  /*文字は白に*/
  top: 40%;
  left: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: bold;
  line-height: 80px;
}

p.head {
  width: 300px;
  margin-top: 80px;
  font-family: "Mina", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
  background: linear-gradient(90deg, #0052d4 20%, #607aec 40%, #6fb1fc 70%);
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
}

.concept {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-cover,
.wp-block-cover-image {
  position: relative;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-group.text_01 {
  position: absolute;
  color: #000;
  top: 35%;
  left: 40%;
  width: 450px;
  line-height: 30px;
  margin-right: 50px;
}

.card-01 {
  position: relative;
  width: 100%;
  max-width: 900px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  margin-left: auto;
  margin-right: auto;
  height: 455px;
}

.card-02 {
  position: relative;
  width: 100%;
  max-width: 900px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  height: 455px;
}

.c-card__contents {
  display: flex;
  flex-direction: column;
}

.c-card__text {
  position: absolute;
  padding: 0;
  margin: 0 1rem;
  order: 3;
  top: 280px;
  left: 550px;
  line-height: 30px;
}

.c-card__thumbnail {
  position: relative;
  order: 1;
}

.thumbnail {
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
}

h2.value {
  position: absolute;
  margin: 1.5rem 1rem 1rem;
  order: 2;
  top: 210px;
  left: 550px;
}

.qualification {
  font-weight: bold;
  font-size: 20px;
}

.card_order {
  width: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}

.qualification_card {
  width: 530px;
  height: 530px;
  background: linear-gradient(90deg, #83a4d4, #b6fbff);
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.vector_01,
.vector_02,
.vector_03,
.vector_04 {
  width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 150px;
}

.shift {
  margin-top: 50px;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  width: 100%;
  text-align: center;
  background: linear-gradient(90deg, #0052d4 20%, #607aec 40%, #6fb1fc 70%);
  padding: 10px;
  padding-top: 0;
  color: #fff;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-size: 18px;
  background: linear-gradient(90deg, #0052d4 20%, #607aec 40%, #6fb1fc 70%);
  color: #fff;
  padding: 10px;
  border: none;
}

a.contact {
  color: #fff;
}

/*-----目次chat GPT-------*/
.post-toc li {
  margin-bottom: 10px;
}
.post-toc {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border: #222 2px dotted;
  display: block;
  border-left: none;
  border-right: none;
  padding-right: 30px;
  padding-left: 1px;
  margin-bottom: 50px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.post-toc h2 {
  margin-top: 0;
  border-bottom: none;
}

.post-toc > h2 {
  text-align: center;
  width: fit-content;
}

.post-toc ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 15px;
}
.post-toc ul li {
  margin: 5px 0;
}
.post-toc ul li a {
  text-decoration: none;
  color: #222;
}
.post-toc ul li a:hover {
  text-decoration: underline;
}
.post-toc ul li.toc-h1 a {
  font-weight: bold;
  margin-left: 0;
}
.post-toc ul li.toc-h2 a {
  margin-left: 20px;
}
.post-toc ul li.toc-h3 a {
  margin-left: 40px;
}
.post-toc ul li a {
  font-size: 14px;
  line-height: 2.2;
  color: #222;
}

.attachment-post-thumbnail {
  width: 100%;
}

.wp-container-core-columns-is-layout-1.wp-container-core-columns-is-layout-1 {
  background: #efefef;
  width: 768px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px;
  padding-bottom: 3px;
}
.wp-container-core-columns-is-layout-1.wp-container-core-columns-is-layout-1 p {
  width: 360px;
  margin-top: 10px;
  line-height: 2;
}
.wp-block-image img {
  width: 360px;
  margin-bottom: 50px;
}
.wp-container-core-columns-is-layout-1.wp-container-core-columns-is-layout-1
  h3 {
  margin-top: 0;
}

/*--------z-----*/
article > footer {
  background: none;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

/*---------コンテンツ幅切り替え-----*/
.wp-block-cover {
  width: 900px;
}

.wp-block-cover {
  width: 100%;
}

.p-block-columns {
  width: 900px;
}

.p-block-columns > h3 {
  width: 425px;
}

/*---------お問い合わせ-----*/
.wp-block-buttons {
  width: 40%;
  height: 20px;
}
.wp-block-buttons
  > .wp-block-button.has-custom-font-size
  .wp-block-button__link {
  font-size: 22px;
  color: #fff;
  width: 250px;
}

.wp-container-core-buttons-is-layout-1.wp-container-core-buttons-is-layout-1 {
  margin-left: auto;
  margin-right: auto;
}

a.post-edit-link {
  background: none;
}

@media screen and (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  nav > .gnav-navi-01 {
    display: none;
  }

  .menu-btn {
    position: fixed;
    top: 3px;
    right: 5px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
  }

  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
  }

  .menu-btn span:before {
    bottom: 8px;
  }

  .menu-btn span:after {
    top: 8px;
  }

  #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
    /*メニューオープン時は真ん中の線を透明にする*/
  }

  #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  #menu-btn-check {
    display: none;
  }

  .menu-content {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #555555f1;
  }

  .menu-content ul {
    padding: 70px 10px 0;
  }

  .menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
  }

  .menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
  }

  .menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
  }

  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    /*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #555555f1;
    transition: all 0.5s;
    /*アニメーション設定*/
  }

  #menu-btn-check:checked ~ .menu-content {
    left: 0;
    /*メニューを画面内へ*/
  }

  h1 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }

  main {
    width: 85%;
    font-family: Arial, Helvetica, sans-serif;
  }

  p.headder {
    top: 50px;
    left: 150px;
    font-size: 22px;
    line-height: 28px;
    font-family: Arial, Helvetica, sans-serif;
  }

  p.success {
    position: relative;
    width: 330px;
    margin: 0 auto;
    margin-top: 5px;
    padding: 5px;
    top: -150px;
    font-size: 13px;
    left: 5px;
    line-height: 22px;
    font-family: Arial, Helvetica, sans-serif;
  }

  p.head {
    font-family: "Mina", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 30px;
    font-size: 22px;
  }

  .concept_img {
    height: 151.7px;
  }

  h2.value {
    position: absolute;
    width: 330px;
    top: 260px;
    left: 0;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .c-card__text {
    position: relative;
    width: 330px;
    left: 0;
    top: 40px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .card-01,
  .card-02 {
    width: 350px;
    height: 575px;
    font-size: 16px;
    line-height: 22px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .card_order {
    display: flex;
    flex-direction: column;
  }

  .qualification_card {
    width: 90%;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .shift {
    margin-top: 0;
  }

  .card_order {
    width: 360px;
  }
}
