/* h1
--------------------------------------------- */
.entry-title {
  font-size: 2em;
  margin-bottom: 20px;
}


.custom-logo {
  width: 295.21px;
  height: auto;
  background: #000;
  padding: 5px 20px 5px 20px;
}

.site-title {
  display: none;
}

.thumbnail {
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
}


.hero {
  width: 100%;
}

.hero_img {
  position: relative;
}


.concept {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ウィジェット カテゴリー s */
.wp-block-categories {
  list-style: none;
  line-height: 2.8;
}

.cat-item {
  border-bottom: 1px solid #888;
  margin-left: -13px;
}

/* ウィジェット カテゴリー e */

/* 投稿一覧のカード s */
.bl_card_txt {
  width: 768px;
  line-height: 1.8;
}

.category-label {
  position: relative;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
}

/* 投稿一覧のカード e */






.qualification {
  font-weight: bold;
  font-size: 20px;
}

.card_order {
  width: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}

.qualification_card {
  width: 530px;
  height: 530px;
  background: linear-gradient(90deg, #83a4d4, #b6fbff);
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.vector_01,
.vector_02,
.vector_03,
.vector_04 {
  width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 150px;
}

.shift {
  margin-top: 50px;
}




@media screen and (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {

  .menu-btn {
    position: fixed;
    top: 3px;
    right: 5px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
  }

  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
  }

  .menu-btn span:before {
    bottom: 8px;
  }

  .menu-btn span:after {
    top: 8px;
  }

  #menu-btn-check:checked~.menu-btn span {
    background-color: rgba(255, 255, 255, 0);
    /*メニューオープン時は真ん中の線を透明にする*/
  }

  #menu-btn-check:checked~.menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #menu-btn-check:checked~.menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  #menu-btn-check {
    display: none;
  }

  .menu-content {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #555555f1;
  }

  .menu-content ul {
    padding: 70px 10px 0;
  }

  .menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
  }

  .menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
  }

  .menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
  }

  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    /*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #555555f1;
    transition: all 0.5s;
    /*アニメーション設定*/
  }

  #menu-btn-check:checked~.menu-content {
    left: 0;
    /*メニューを画面内へ*/
  }




  .concept_img {
    height: 151.7px;
  }

  .c-card__text {
    position: relative;
    width: 330px;
    left: 0;
    top: 40px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .card-01,
  .card-02 {
    width: 350px;
    height: 575px;
    font-size: 16px;
    line-height: 22px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .card_order {
    display: flex;
    flex-direction: column;
  }

  .qualification_card {
    width: 90%;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .shift {
    margin-top: 0;
  }

  .card_order {
    width: 360px;
  }
}