.wp-block-integlight-slider-block .blockSliders-block {
    border: 2px dashed #ccc;
    padding: 10px;
}

.wp-block-integlight-slider-block .blockSliders-navigation-editor {
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
}

.wp-block-integlight-slider-block .blockSliders-content-editor {
    padding: 10px;
    background-color: #f9f9f9;
    min-height: 100px;
}

.wp-block-integlight-slider-block.editorBlockSliders .block-editor-inner-blocks>.block-editor-block-list__layout>* {
    border: 0.5px solid green;

}