.wp-block-integlight-slider-block {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.wp-block-integlight-slider-block .blockSliders-content {
    position: relative;
    width: 100%;
}

.blockSliders .wp-block-group {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.blockSliders .wp-block-group:first-child {
    position: relative;
    opacity: 1;
}

.slide-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
    border-radius: 5px;
}

.slide-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.slide-button.prev {
    left: 10px;
}

.slide-button.next {
    right: 10px;
}