.integlight-tabs {
    border: 1px solid #ddd;
    padding: 10px;
}

.integlight-tabs .tabs-navigation {
    list-style: none;
    display: flex;
    background: #f1f1f1;
    padding: 0;
    margin: 0 0 10px;
}

.integlight-tabs .tabs-navigation li {
    padding: 10px 15px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.integlight-tabs .tabs-navigation li.active {
    border-bottom: 2px solid #007cba;
    font-weight: bold;
}

.integlight-tabs .tab {
    display: none;
}

.integlight-tabs .tab:first-child {
    display: block;
}


.integlight-tabs .tab.active {
    display: block;
}