/* .integlight_pt footer {
  background: #f936a8;
} */

/* タブフォーカスのスタイル */
a:focus,
.wp-block-button__link:focus {
  outline: 2px solid #49c1d1;
}

a:focus:not(:focus-visible),
.wp-block-button__link:focus:not(:focus-visible) {
  outline: none; /* マウス操作時だけ非表示 */
}

a:focus-visible,
.wp-block-button__link:focus-visible {
  outline: 2px solid #49c1d1;
}

.easyLink-info-name a:focus-visible,
.easyLink-info-btn-amazon:focus-visible,
.easyLink-info-btn-rakuten:focus-visible {
  outline: 2px solid #49c1d1;
}

.integlight_pt button {
  background: #f936a8;
}

.integlight_pt .pagetop {
  background: #f936a8;
}

.integlight_pt p.head {
  background: #f936a8;
}

.integlight_pt .entry-footer {
  background: none;
  color: #222;
}

.integlight_pt button,
.integlight_pt input[type="button"],
.integlight_pt input[type="reset"],
.integlight_pt input[type="submit"] {
  background: #f936a8;
  color: #222;
}

/* background: linear-gradient(90deg, #ec8be7 20%, #edb1ea 40%, #d579ee 70%); */

/************ページトップ*************/
/************ページトップ*************/
/************ページトップ*************/
/************ページトップ*************/
/************ページトップs*************/

#page-top:hover {
  background: #49c1d1;
  border: #49c1d1;
  color: #fff;
}

#page-top {
  border: 1px solid #49c1d1;
  background-color: #fff;
  color: #49c1d1;
}

#page-top::before {
  background-image: none !important;
  background-color: #49c1d1 !important; /* 通常時の色 */
}

#page-top:hover::before {
  background-image: none !important;
  background-color: #fff !important; /* ホバー時は白に */
}
/************ページトップe*************/
/************ページトップ*************/
/************ページトップ*************/

.posted-on a,
.byline a,
.cat-links a,
.edit-link a,
.tags-links a {
  color: #047786;
}

/* 目次の色を変えている */
/* .post-toc {
  background-color: #fae7f2;
} */

/* homeのカテゴリーの色 */
body .blog .category-link,
body .siteType1 .category-link {
  background: #fae7f2;
}

.site-footer {
  background-color: #0a043b;
}

/* フッターメニューの線の色 */
.footer-menu li::before {
  background-color: #fff;
}

.footer-menu li:last-child::after {
  background-color: #fff;
}

.site-header {
  background-color: #0a043b;
  background-image: linear-gradient(to bottom, #f936a8 0 8px, #49c1d1 8px 11px);
}

ul.menu > li.menu-item-has-children > ul.sub-menu,
ul.menu li ul.sub-menu li.menu-item-has-children > ul.sub-menu {
  background-color: #0a043b;
}

/**************フォントオーサムのホバーした時の色を変えているs***************/
/**************フォントオーサムのホバーした時の色を変えているs***************/
/**************フォントオーサムのホバーした時の色を変えているs***************/
.main-navigation li.menu-item-has-children > a:hover::after {
  background-color: #49c1d1;
}
/**************アイコンのホバーした時の色を変えているe***************/

/************ siteType2ボタン **************/
/************ siteType2ボタン **************/
/************ siteType2ボタン **************/
/************ siteType2ボタン **************/
/************ siteType2ボタンs **************/
/* .home button#load-more, .home button#load-more, .home button.load-more-cat, .home button.load-more-cat, .home .integlight_pt button#load-more,.home .integlight_pt button#load-more {
  color:#fa9301;                 
  background:#fff;
  border:1px solid #fa9301;
} */

/**************背景のグラデーションの設定s***************/
/**************背景のグラデーションの設定s***************/
/**************背景のグラデーションの設定s***************/
/**************背景のグラデーションの設定s***************/
/**************背景のグラデーションの設定s***************/
html:has(body .siteType2) {
  background: linear-gradient(to right, #fcf2f8 0%, #fef8fe 60%, #e2f0f2 100%);
}

/**************背景のグラデーションの設定e***************/
/**************背景のグラデーションの設定e***************/
/**************背景のグラデーションの設定e***************/

.siteType2 #load-more:focus-visible,
.siteType2 #load-more:hover,
.siteType2 .load-more-cat:focus-visible,
.siteType2 .load-more-cat:hover,
.siteType2 .integlight_pt button#load-more:focus-visible,
.siteType2 .integlight_pt button#load-more:hover {
  background: #f936a8;
  border: 1px solid #f936a8;
  color: #fff;
}
/************ siteType2ボタンe **************/
/************ siteType2ボタン **************/
/************ siteType2ボタン **************/

/************ siteType2カテゴリタグs **************/
/************ siteType2カテゴリタグs **************/
/************ siteType2カテゴリタグs **************/
/************ siteType2カテゴリタグs **************/
/************ siteType2カテゴリタグs **************/

.siteType2 .post-category p {
  background: #f936a8;
}
/************ siteType2カテゴリタグe **************/
/************ siteType2カテゴリタグe **************/
/************ siteType2カテゴリタグe **************/

@media screen and (max-width: 768px) {
  .menuToggle-containerForMenu {
    background: #0a043b;
  }
}

/*********************************************************************/
/* 見出し */
/*********************************************************************/
/* 見出しデザイン エレガント*/
.integlight_heading_line h2 {
  border-bottom: 1px solid #f936a8;
}

.integlight_heading_line h3 {
  border-bottom: 1px solid #ffd5ed;
}

/* 左15%だけ色を変える */
.integlight_heading_line h3::after {
  background-color: #f936a8;
}

.integlight_heading_accent h2 {
  border-left: 5px solid #f936a8;
}

.integlight_heading_accent h3 {
  border-left: 2px solid #f936a8;
}

.integlight_heading_marker h2::before {
  color: #f936a8;
}

.integlight_heading_marker h3::before {
  color: #f7a0d3;
}

/* 見出しデザイン ポップ*/
.integlight_heading_stripe h2 {
  background: repeating-linear-gradient(
    135deg,
    #f936a8,
    #f936a8 5px,
    #f936a87a 5px,
    #f936a87a 10px
  );
}

.integlight_heading_stripe h3::after {
  background: repeating-linear-gradient(
    135deg,
    #fff,
    #fff 5px,
    #f936a87a 5px,
    #f936a87a 10px
  );
}

.integlight_heading_shadow h2 {
  border: 1px solid #f936a8;
  padding: 3px 10px;
}

.integlight_heading_shadow h2:after {
  background: #ffd5ed;
}

.integlight_heading_shadow h3 {
  background: linear-gradient(to top, #ffd5ed 0.55em, transparent 0.55em);
}

.integlight_heading_label h2 {
  background: #ffd5ed;
  padding: 3px 10px;
}

.integlight_heading_label h3 {
  border-bottom: 1px solid #f936a8;
  border-left: 5px solid #ffd5ed;
  padding: 3px 10px;
}

.integlight_heading_highlight h2 {
  border-bottom: 5px dotted #ffd5ed;
}

.integlight_heading_highlight h3 {
  border-left: 8px double #f936a8;
}

/* 見出しデザイン シンプル*/
.integlight_heading_arrow h2::before {
  color: #f936a8;
}

/* 見出しデザイン シンプル*/
.integlight_heading_arrow h3::before {
  color: #ffd5ed;
}

.integlight_heading_dotted h2 {
  border-bottom: 4px double #f936a8;
}

.integlight_heading_dotted h3 {
  background-image: linear-gradient(
    to right,
    #ffd5ed 50%,
    rgba(255, 255, 255, 0) 0%
  );
}
