/*********************************************************************/
/* 見出し */
/*********************************************************************/
/* 見出しデザイン エレガント*/
.integlight_heading_line h2 {
  margin: 3.5rem 0 1.6rem;
  padding-bottom: 0.15em;
  border-bottom: 1px solid #555555;
}

.integlight_heading_line h3 {
  position: relative;
  margin: 3.5rem 0 1.6rem;
  padding-bottom: 0.15em;
  border-bottom: 1px solid #e9e8e8;
}

/* 左15%だけ色を変える */
.integlight_heading_line h3::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 15%;
  height: 1px;
  background-color: #555555;
  z-index: 1;
}

.integlight_heading_accent h2 {
  padding-left: 0.4em;
  border-left: 3px solid #555555;
  margin-top: 2.4rem;
}

.integlight_heading_accent h3 {
  padding-left: 0.4em;
  border-left: 1.5px solid #555555;
  margin-top: 2.4rem;
}

.integlight_heading_marker h2::before {
  content: "●";
  margin-right: 0.2em;
  color: #555555;
}

.integlight_heading_marker h3::before {
  content: "•••";
  margin-right: 0.2em;
  color: #a0a0a0;
}

/* 見出しデザイン ポップ*/
.integlight_heading_stripe h2 {
  background: repeating-linear-gradient(
    135deg,
    #555555,
    #555555 5px,
    #5555557a 5px,
    #5555557a 10px
  );
  padding: 0.1em 1em;
  color: #fff;
}

.integlight_heading_stripe h3 {
  position: relative;
  padding-bottom: 0.4em; /* 下線との距離 */
}

.integlight_heading_stripe h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px; /* 下線の太さ */

  background: repeating-linear-gradient(
    135deg,
    #fff,
    #fff 5px,
    #5555557a 5px,
    #5555557a 10px
  );
}

.integlight_heading_shadow h2 {
  position: relative;
  border: 1px solid #555555;
}

.integlight_heading_shadow h2:after {
  content: "";
  background: #c9c9c9;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: -1;
}

.integlight_heading_shadow h3 {
  display: inline-block;
  padding: 0 0.2em;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  background: linear-gradient(to top, #b5bdc1 0.55em, transparent 0.55em);
}

.integlight_heading_highlight h2 {
  border-bottom: 5px dotted #c9c9c9;
}

.integlight_heading_highlight h3 {
  border-left: 8px double #555555;
  padding-left: 0.3em;
}

/* 見出しデザイン シンプル*/
.integlight_heading_arrow h2::before {
  content: "▶";
  margin-right: 0.2em;
  color: #555555;
  font-size: 0.85em;
}

/* 見出しデザイン シンプル*/
.integlight_heading_arrow h3::before {
  content: "▶▶";
  margin-right: 0.2em;
  color: #c9c9c9;
  font-size: 0.5em;
  vertical-align: middle;
}

.integlight_heading_dotted h2 {
  padding-bottom: 0.1em;
  border-bottom: 4px double #555555;
  margin-bottom: 1rem;
}

.integlight_heading_dotted h3 {
  background-image: linear-gradient(
    to right,
    #c9c9c9 50%,
    rgba(255, 255, 255, 0) 0%
  );
  background-size: 6px 2px;
  background-repeat: repeat-x;
  background-position: left bottom;
  padding-bottom: 0.2em;
}

/*********************************************************************/
/* ウィジェット */
/*********************************************************************/
.widget {
  content: " ";
}

/* プロフィールデザイン */
.integlight-author-profile-widget {
  background: #fff;
  border: 1px solid #eee;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  max-width: 320px;
  margin: 2rem auto;
  text-align: center;
}

.integlight-author-profile-widget p {
  margin: 0.5rem 0;
  line-height: 1.8;
  height: auto;
  overflow: visible;
  white-space: normal;
  text-align: left;
}

.integlight-author-profile-widget img {
  max-width: 120px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.integlight-author-profile-widget a {
  font-weight: bold;
  text-decoration: none;
  color: #555;
}

/* ウィジェット内のカテゴリーブロック */
.wp-block-categories {
  list-style: none;
  line-height: 2;
  padding-left: 0px;
}

.wp-block-categories a {
  text-decoration: none;
  font-size: 0.8rem;
}

.cat-item {
  border-bottom: 0.01em solid #e9e8e8;
  padding: 5px 0px;
}

li > ul > .cat-item:last-of-type {
  border-bottom: none;
}

/* カテゴリーのリストにマージン */
.wp-block-categories ul.children {
  margin-top: 10px;
}

/* ウィジェット内の要素の個別調整 (サイドバー) */
.ly_site_content_widgetArea_right h2,
.ly_site_content_widgetArea_right h3,
.ly_site_content_widgetArea_left h2,
.ly_site_content_widgetArea_left h3 {
  margin-bottom: 0.5em;
}

.ly_site_content_widgetArea_right .is-layout-flex,
.ly_site_content_widgetArea_left .is-layout-flex {
  padding: 0;
}

.ly_site_content_widgetArea_right li,
.ly_site_content_widgetArea_left li {
  font-size: 0.8rem;
  list-style: none;
}

.ly_site_content_widgetArea_right li a,
.ly_site_content_widgetArea_left li a {
  text-decoration: none;
  font-size: 0.9rem;
}

/* 最新の投稿ブロック */
.wp-block-latest-posts__list {
  list-style: none;
  line-height: 2;
  padding-left: 0px;
}

.wp-block-latest-posts__list a {
  font-size: 0.8rem;
  text-decoration: none;
}

.wp-block-latest-posts__post-title {
  display: block;
  border-bottom: 0.01em solid #e9e8e8;
  padding: 5px 0px;
}

.wp-block-latest-posts li,
.widget .wp-block-latest-posts__list li {
  text-indent: 0;
  padding-left: 0;
}

/* アーカイブブロック */
.wp-block-archives li {
  padding: 5px 0px;
  border-bottom: 1px solid #eee;
  text-indent: 0;
}

/****************************************************/
/****************************************************/
/*******************見直しでbaseから移動e*************************/
/****************************************************/
/****************************************************/

/************************************************************/
/* 検索ボックス */
/************************************************************/

/* 検索バー */

/* 検索入力フィールド */
[type="search"] {
  -webkit-appearance: button; /* 最後に適用された値を維持 */
  appearance: button;
  outline-offset: -2px;
  width: 100%; /*検索バーを広げてる*/
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.wp-block-search .wp-block-search__label {
  display: none;
}

.wp-block-search__button.has-icon {
  width: 42px;
}

/* 検索バーのフレックス */
.wp-block-search__inside-wrapper {
  display: flex;
  gap: 1px;
  height: 75px;
}

/************************************************************/
/* リスト***************************************************/
/************************************************************/

.wp-block-list li > ul {
  padding-left: 1.5em;
  /* リストの下の白ドットにインデント */
}

/************************************************************/
/* メディア @@@***************************************************/
/************************************************************/
/*3.1 画像  */
/*3.2 ギャラリー */
/*3.3 カバー */

/* カバーイメージ */

/* カバー画像e */

/*3.4 メディアとテキスト */
/* 背景なしの場合はpaddingをリセット */
.wp-block-media-text:not(.has-background) .wp-block-media-text__content {
  padding: 0;
}

/*3.5 テーブル */

/* 画像・要素の左右・中央寄せ */
.wp-block-image .alignleft {
  float: left;
  /* 左寄せ */
  margin-right: 1.5em;
  /* 右に適度な余白 */
  margin-top: 0;
  margin-bottom: 1em;
  /* 下に余白を確保 */
}

.wp-block-image .alignright {
  float: right;
  /* 右寄せ */
  margin-left: 1.5em;
  /* 左に余白 */
  margin-top: 0;
  margin-bottom: 1em;
  /* 下に余白 */
}

.wp-block-image .aligncenter {
  display: block;
  /* インライン要素ではなくブロック要素として扱う */
  text-align: center;
  /* 中央寄せ */
}

.image-container {
  padding: 0;
  /* imgにつくパディングを消している */
}

/************************************************************/
/* キャプションのテキスト@@@ ***************************************************/
/************************************************************/
/* caption s */
.wp-caption {
  max-width: 100%;
  /* 画像の最大幅を超えないようにする */
  text-align: center;
  /* キャプションを中央寄せ */
  background-color: #f8f8f8;
  /* 背景色を薄いグレーに */
  padding: 5px;
  /* 余白を確保 */
  border: 1px solid #ddd;
  /* 境界線を薄いグレーに */
}

.wp-caption-text {
  font-size: 0.7rem;
  /* フォントサイズを適切に */
  color: #666;
  /* 文字色を少し薄く */
  margin-top: 5px;
  /* 画像との間に余白を追加 */
}

.gallery-caption {
  font-size: 0.7rem;
  color: #777;
  text-align: center;
  margin-top: 5px;
}

/* caption e */

/************************************************************/
/* 引用ブロックアイテム ***************************************************/
/************************************************************/
/* 引用のデザイン */
blockquote.wp-block-quote {
  position: relative;
  border-left: 5px solid #b8b8b8;
  padding-left: 5em;
}

/* 引用に独自画像を表示させる */
blockquote.wp-block-quote::after {
  content: "";
  display: inline-block; /* または block */
  width: 50px;
  height: 50px;
  background-image: url("/wp-content/themes/integlight/assets/inyou_02.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 1px;
  left: 13px;
}

/************************************************************/
/*** カレンダーのデザイン s ***/
/************************************************************/
.wp-block-calendar td,
.wp-block-calendar th {
  border: 3px solid;
  padding: 1em 0.25em;
}

/************************************************************/
/*** ボタン s ***/
/************************************************************/

/*** ボタン s ***/
.wp-block-buttons {
  margin-top: var(--ly-elementTopMarginSmall);
}

.wp-block-buttons
  > .wp-block-button.has-custom-font-size
  .wp-block-button__link {
  min-width: 150px;
  color: #fff;
}

.wp-block-buttons > .wp-block-button.has-custom-width .wp-block-button__link {
  border-width: 1px;
}

/************ボタンアニメーション**********/
/************ボタンアニメーション**********/
/************ボタンアニメーション**********/
/************ボタンアニメーション**********/
/************ボタンアニメーション**********/

.wp-block-button__link,
.wp-block-buttons > .wp-block-button.has-custom-width .wp-block-button__link {
  position: relative;
  padding: 10px 20px;
  border: 1px solid #555;
  background-color: #fff; /* 常に白背景 */
  color: #555; /* 常に濃い文字色 */
  box-shadow: 2px 4px #000;
  cursor: pointer;
  text-align: center;
}

.wp-block-button__link:hover,
.wp-block-button__link:active,
.wp-block-buttons
  > .wp-block-button.has-custom-width
  .wp-block-button__link:hover,
.wp-block-buttons
  > .wp-block-button.has-custom-width
  .wp-block-button__link:active {
  box-shadow: none;
  transform: translateY(4px); /* ギュッと沈むだけ */
}

/* キーボード操作でも状態が見えるように */
.wp-block-button__link:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

/*** ボタン e ***/

/************************************************************/
/* テーブル***************************************************/
/************************************************************/
/*!!!!!s*/
.wp-block-table :is(table, thead, tbody, tfoot, td) {
  border: 3px solid #eee;
  padding: 0.8em;
  margin-top: 1em;
}

.wp-block-table th {
  border-color: #eee;
  background: #eee;
}
.wp-block-columns .wp-block-table {
  margin: 0px -15px -10px -25px;
  /* 親を変えずに表のパディングをなくす */
}
/*!!!!!e*/

.wp-block-table :is(table, thead, tbody, tfoot, td) {
  border: 3px solid #eee;
  /* 表の線を薄くする */
  padding: 0.8em;
  margin-top: 1em;
}

.wp-block-table th {
  border-color: #eee;
  background: #eee;
}

@media (max-width: 768px) {
  /* テーブル（表）のpaddingを消してる */
  .wp-block-group .wp-block-table {
    margin-left: -3.375em !important;
    margin-right: -3.375em !important;
  }
}
