/************************************************************/
/* 検索ボックス @@@***************************************************/
/************************************************************/

/* 検索バー */

/* 検索入力フィールド */
[type="search"] {
  -webkit-appearance: button; /* 最後に適用された値を維持 */
  appearance: button;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.wp-block-search .wp-block-search__label {
  display: none;
}

.wp-block-search__button.has-icon {
  width: 42px;
}
