/* .integlight_pt footer {
  background-color: #008554;
} */

/* タブフォーカスのスタイル */
a:focus,
.wp-block-button__link:focus {
  outline: 2px solid #ea5404;
}

a:focus:not(:focus-visible),
.wp-block-button__link:focus:not(:focus-visible) {
  outline: none; /* マウス操作時だけ非表示 */
}

a:focus-visible,
.wp-block-button__link:focus-visible {
  outline: 2px solid #ea5404;
}

.easyLink-info-name a:focus-visible,
.easyLink-info-btn-amazon:focus-visible,
.easyLink-info-btn-rakuten:focus-visible {
  outline: 2px solid #ea5404;
}

.integlight_pt button {
  background-color: #008554;
}

.integlight_pt .pagetop {
  background-color: #008554;
}

.integlight_pt p.head {
  background-color: #008554;
}

.integlight_pt .entry-footer {
  background: none;
  color: #222;
}

.integlight_pt button,
.integlight_pt input[type="button"],
.integlight_pt input[type="reset"],
.integlight_pt input[type="submit"] {
  background-color: #008554;
  color: #fff;
}

/************ページトップ*************/
/************ページトップ*************/
/************ページトップ*************/
/************ページトップ*************/
/************ページトップs*************/

#page-top:hover {
  background: #ea5404;
  border: #ea5404;
  color: #fff;
}

#page-top {
  border: 1px solid #ea5404;
  background-color: #fff;
  color: #ea5404;
}

#page-top::before {
  background-image: none !important;
  background-color: #ea5404 !important; /* 通常時の色 */
}

#page-top:hover::before {
  background-image: none !important;
  background-color: #fff !important; /* ホバー時は白に */
}
/************ページトップe*************/
/************ページトップ*************/
/************ページトップ*************/

.posted-on a,
.byline a,
.cat-links a,
.edit-link a,
.tags-links a {
  color: #b84405;
}

/* 目次の色を変えている */
/* .post-toc {
  background-color: #daeae4;
} */

/* homeのカテゴリーの色 */
body .blog .category-link,
body .siteType1 .category-link {
  background: #c5dcd4;
}

.site-footer {
  background-color: #1e1b2a;
}

/* フッターメニューの線の色 */
.footer-menu li::before {
  background-color: #fff;
}

.footer-menu li:last-child::after {
  background-color: #fff;
}

.site-header {
  background-color: #1e1b2a;
  background-image: linear-gradient(to bottom, #008554 0 8px, #ea5404 8px 11px);
}

ul.menu > li.menu-item-has-children > ul.sub-menu,
ul.menu li ul.sub-menu li.menu-item-has-children > ul.sub-menu {
  background-color: #1e1b2a;
}

/**************フォントオーサムのホバーした時の色を変えているs***************/
/**************フォントオーサムのホバーした時の色を変えているs***************/
/**************フォントオーサムのホバーした時の色を変えているs***************/
.main-navigation li.menu-item-has-children > a:hover::after {
  background-color: #ea5404;
}
/**************フォントオーサムのホバーした時の色を変えているe***************/
/************ siteType2ボタン **************/
/************ siteType2ボタン **************/
/************ siteType2ボタン **************/
/************ siteType2ボタン **************/
/************ siteType2ボタンs **************/
/* .home button#load-more, .home button#load-more, .home button.load-more-cat, .home button.load-more-cat, .home .integlight_pt button#load-more,.home .integlight_pt button#load-more {
  color:#fa9301;                 
  background:#fff;
  border:1px solid #fa9301;
} */

/**************背景のグラデーションの設定s***************/
/**************背景のグラデーションの設定s***************/
/**************背景のグラデーションの設定s***************/
/**************背景のグラデーションの設定s***************/
/**************背景のグラデーションの設定s***************/
html:has(body .siteType2) {
  background: linear-gradient(to right, #85a99c 0%, #b2cac2 60%, #f6cfba 100%);
}

/**************背景のグラデーションの設定e***************/
/**************背景のグラデーションの設定e***************/
/**************背景のグラデーションの設定e***************/

.siteType2 #load-more:focus-visible,
.siteType2 #load-more:hover,
.siteType2 .load-more-cat:focus-visible,
.siteType2 .load-more-cat:hover,
.siteType2 .integlight_pt button#load-more:focus-visible,
.siteType2 .integlight_pt button#load-more:hover {
  background: #008554;
  border: 1px solid #008554;
  color: #fff;
}
/************ siteType2ボタンe **************/
/************ siteType2ボタン **************/
/************ siteType2ボタン **************/

/************ siteType2カテゴリタグs **************/
/************ siteType2カテゴリタグs **************/
/************ siteType2カテゴリタグs **************/
/************ siteType2カテゴリタグs **************/
/************ siteType2カテゴリタグs **************/

.siteType2 .post-category p {
  background: #008554;
}
/************ siteType2カテゴリタグe **************/
/************ siteType2カテゴリタグe **************/
/************ siteType2カテゴリタグe **************/

@media screen and (max-width: 768px) {
  .menuToggle-containerForMenu {
    background: #1e1b2a;
  }
}

/*********************************************************************/
/* 見出し */
/*********************************************************************/
/* 見出しデザイン エレガント*/
.integlight_heading_line h2 {
  border-bottom: 1px solid #008554;
}

.integlight_heading_line h3 {
  border-bottom: 1px solid #d2e0d2;
}

/* 左15%だけ色を変える */
.integlight_heading_line h3::after {
  background-color: #008554;
}

.integlight_heading_accent h2 {
  border-left: 3px solid #008554;
}

.integlight_heading_accent h3 {
  border-left: 1.5px solid #008554;
}

.integlight_heading_marker h2::before {
  color: #008554;
}

.integlight_heading_marker h3::before {
  color: #7eaf9d;
}

/* 見出しデザイン ポップ*/
.integlight_heading_stripe h2 {
  background: repeating-linear-gradient(
    135deg,
    #008554,
    #008554 5px,
    #0085547a 5px,
    #0085547a 10px
  );
}

.integlight_heading_stripe h3::after {
  background: repeating-linear-gradient(
    135deg,
    #fff,
    #fff 5px,
    #0085547a 5px,
    #0085547a 10px
  );
}

.integlight_heading_shadow h2 {
  border: 1px solid #008554;
}

.integlight_heading_shadow h2:after {
  background: #d2e0d2;
}

.integlight_heading_shadow h3 {
  background: linear-gradient(to top, #d2e0d2 0.55em, transparent 0.55em);
}

.integlight_heading_highlight h2 {
  border-bottom: 5px dotted #d2e0d2;
}

.integlight_heading_highlight h3 {
  border-left: 8px double #008554;
}

/* 見出しデザイン シンプル*/
.integlight_heading_arrow h2::before {
  color: #008554;
}

/* 見出しデザイン シンプル*/
.integlight_heading_arrow h3::before {
  color: #d2e0d2;
}

.integlight_heading_dotted h2 {
  border-bottom: 4px double #008554;
}

.integlight_heading_dotted h3 {
  background-image: linear-gradient(
    to right,
    #d2e0d2 50%,
    rgba(255, 255, 255, 0) 0%
  );
}
