/* .integlight_pt footer {
  background: #0c62eb;
} */

/* タブフォーカスのスタイル */
a:focus,
.wp-block-button__link:focus {
  outline: 2px solid #c14f7e;
}

a:focus:not(:focus-visible),
.wp-block-button__link:focus:not(:focus-visible) {
  outline: none; /* マウス操作時だけ非表示 */
}

a:focus-visible,
.wp-block-button__link:focus-visible {
  outline: 2px solid #c14f7e;
}

.easyLink-info-name a:focus-visible,
.easyLink-info-btn-amazon:focus-visible,
.easyLink-info-btn-rakuten:focus-visible {
  outline: 2px solid #c14f7e;
}

.integlight_pt button {
  background: #0000ff;
}

.integlight_pt .pagetop {
  background: #0000ff;
}

.integlight_pt p.head {
  background: #0000ff;
}

.integlight_pt .entry-footer {
  background: none;
  color: #222;
}

.integlight_pt button,
.integlight_pt input[type="button"],
.integlight_pt input[type="reset"],
.integlight_pt input[type="submit"] {
  background: #0000ff;
  color: #fff;
}

/************ページトップ*************/
/************ページトップ*************/
/************ページトップ*************/
/************ページトップ*************/
/************ページトップs*************/

#page-top:hover {
  background: #c14f7e;
  border: #c14f7e;
  color: #fff;
}

#page-top {
  border: 1px solid #c14f7e;
  background-color: #fff;
  color: #c14f7e;
}

#page-top::before {
  background-image: none !important;
  background-color: #c14f7e !important; /* 通常時の色 */
}

#page-top:hover::before {
  background-image: none !important;
  background-color: #fff !important; /* ホバー時は白に */
}
/************ページトップe*************/
/************ページトップ*************/
/************ページトップ*************/

.posted-on a,
.byline a,
.cat-links a,
.edit-link a,
.tags-links a {
  color: #a1305f;
}

/* 目次の色を変えている */
/* .post-toc {
  background-color: #eaeafe;
} */

.site-footer {
  background-color: #1e1d1d;
}

/* フッターメニューの線の色 */
.footer-menu li::before {
  background-color: #fff;
}

.footer-menu li:last-child::after {
  background-color: #fff;
}

/***********************home1の色s*************************/
/***********************home1の色s*************************/
/***********************home1の色s*************************/
/* home1のカテゴリーの丸の色 */
body .blog .category-link,
body .home1 .category-link {
  background: #dcdcfb;
}

.site-header {
  background-color: #1e1d1d;
  background-image: linear-gradient(to bottom, #0000ff 0 8px, #c14f7e 8px 11px);
}

ul.menu > li.menu-item-has-children > ul.sub-menu,
ul.menu li ul.sub-menu li.menu-item-has-children > ul.sub-menu {
  background-color: #1e1d1d;
}

/**************フォントオーサムのホバーした時の色を変えているs***************/
/**************フォントオーサムのホバーした時の色を変えているs***************/
/**************フォントオーサムのホバーした時の色を変えているs***************/
.main-navigation li.menu-item-has-children > a:hover::after {
  background-color: #c14f7e;
}
/**************アイコンのホバーした時の色を変えているe***************/

/************ home2ボタン **************/
/************ home2ボタン **************/
/************ home2ボタン **************/
/************ home2ボタン **************/
/************ home2ボタンs **************/
/* .home2 button#load-more, .home2 button#load-more, .home2 button.load-more-cat, .home2 button.load-more-cat, .home2 .integlight_pt button#load-more,.home2 .integlight_pt button#load-more {
  color:#fa9301;                 
  background:#fff;
  border:1px solid #fa9301;
} */

/**************背景のグラデーションの設定s***************/
/**************背景のグラデーションの設定s***************/
/**************背景のグラデーションの設定s***************/
/**************背景のグラデーションの設定s***************/
/**************背景のグラデーションの設定s***************/
html:has(body .home2) {
  background: linear-gradient(to right, #f1f1fc 0%, #f8f8fb 60%, #f8f0f2 100%);
}

html:has(body .home2)::before {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    /* 透明で開始 */ rgba(255, 255, 255, 1) 45vh,
    /* 35vhまでは透明のまま */ rgba(255, 255, 255, 0) 100%
      /* そこから白にフェード */
  );
}
/**************背景のグラデーションの設定e***************/
/**************背景のグラデーションの設定e***************/
/**************背景のグラデーションの設定e***************/

.home2 #load-more:focus-visible,
.home2 #load-more:hover,
.home2 .load-more-cat:focus-visible,
.home2 .load-more-cat:hover,
.home2 .integlight_pt button#load-more:focus-visible,
.home2 .integlight_pt button#load-more:hover {
  background: #0000ff;
  border: 1px solid #0000ff;
  color: #fff;
}
/************ home2ボタンe **************/
/************ home2ボタン **************/
/************ home2ボタン **************/

/************ home2カテゴリタグs **************/
/************ home2カテゴリタグs **************/
/************ home2カテゴリタグs **************/
/************ home2カテゴリタグs **************/
/************ home2カテゴリタグs **************/

.home2 .post-category p {
  background: #0000ff;
}
/************ home2カテゴリタグe **************/
/************ home2カテゴリタグe **************/
/************ home2カテゴリタグe **************/

/* ボタングラデーション */
/* background:linear-gradient(90deg, #0c62eb 20%, #607aec 40%, #6fb1fc 70%); */

@media screen and (max-width: 768px) {
  .menuToggle-containerForMenu {
    background: #1e1d1d;
  }
}
