/* 共通部分 _s ////////////////////////////*/
.header-image {
  position: relative;
}

/*************************************************************************/
/* ヘッダーTop画像(画像選択時） */
/*************************************************************************/
/* スライダーでなく画像を選んだ時 */
.header-image img.topImage {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

@media (max-width: 768px) {
  .header-image img.topImage {
    height: 35vh;
  }
}

/*************************************************************************/
/* ヘッダーテキスト */
/*************************************************************************/
/*
.header-image .text-overlay {
  position: absolute;
  top: 150px;
  left: 30px;
  color: white;
  width: 60vw;
}
*/

.header-image .text-overlay1 h1 {
  font-size: clamp(1.6rem, 4vw, 3.2rem);
  font-weight: 600;
  /* 細くした */
  line-height: 1.3;
}

.header-image .text-overlay2 h2 {
  font-size: clamp(1rem, 1.5vw, 1.3rem);
  line-height: 1.7;
  font-weight: 400;
  margin-top: 20px;
  /* スライダーh2上スペース */
}

/* スマホレイアウト */
@media (max-width: 768px) {
  .header-image .text-overlay {
    width: 80vw;
  }

  .header-image .text-overlay1 h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .header-image .text-overlay2 h2 {
    font-size: 1rem;
    font-weight: 400;
  }
}

.header-image .text-overlay2 h2 {
  border-bottom: none;
}

.header-image .text-overlay2 h2::after {
  display: none;
}

/* 共通部分 _e ////////////////////////////*/
