/* .integlight_pt footer {
  background-color: #555;
} */

/* タブフォーカスのスタイル */
a:focus,
.wp-block-button__link:focus {
  outline: 2px solid #c9c9c9;
}

a:focus:not(:focus-visible),
.wp-block-button__link:focus:not(:focus-visible) {
  outline: none;
  /* マウス操作時だけ非表示 */
}

a:focus-visible,
.wp-block-button__link:focus-visible {
  outline: 2px solid #c9c9c9;
}

.easyLink-info-name a:focus-visible,
.easyLink-info-btn-amazon:focus-visible,
.easyLink-info-btn-rakuten:focus-visible {
  outline: 2px solid #c9c9c9;
}

.integlight_pt button {
  background-color: #555;
}

.integlight_pt .pagetop {
  background-color: #555;
}

.integlight_pt p.head {
  background-color: #555;
}

.integlight_pt .entry-footer {
  background: none;
  color: #222;
}

.integlight_pt button,
.integlight_pt input[type="button"],
.integlight_pt input[type="reset"],
.integlight_pt input[type="submit"] {
  background-color: #555;
  color: #fff;
}

/* 目次の色を変えている */
/* .post-toc {
  background-color: #eee;
} */

/************ページトップ*************/
/************ページトップ*************/
/************ページトップ*************/
/************ページトップ*************/
/************ページトップs*************/

#page-top:hover {
  background: #555;
  border: #555;
  color: #fff;
}

#page-top {
  border: 1px solid #555;
  background-color: #fff;
  color: #555;
}

#page-top::before {
  background-image: none !important;
  background-color: #555 !important; /* 通常時の色 */
}

#page-top:hover::before {
  background-image: none !important;
  background-color: #fff !important; /* ホバー時は白に */
}
/************ページトップe*************/
/************ページトップ*************/
/************ページトップ*************/

.posted-on a,
.byline a,
.cat-links a,
.edit-link a,
.tags-links a {
  color: #555;
}

.site-footer {
  background-color: #000;
}

/* フッターメニューの線の色 */
.footer-menu li::before {
  background-color: #fff;
}

.footer-menu li:last-child::after {
  background-color: #fff;
}

.site-header {
  background-color: #000;
  background-image: linear-gradient(to bottom, #555 0 8px, #eee 8px 11px);
}

/************ siteType2ボタン **************/
/************ siteType2ボタン **************/
/************ siteType2ボタン **************/
/************ siteType2ボタン **************/
/************ siteType2ボタンs **************/
/* .siteType2 button#load-more, .siteType2 button#load-more, .siteType2 button.load-more-cat, .siteType2 button.load-more-cat, .siteType2 .integlight_pt button#load-more,.siteType2 .integlight_pt button#load-more {
  color:#fa9301;                 
  background:#fff;
  border:1px solid #fa9301;
} */

.siteType2 #load-more:focus-visible,
.siteType2 #load-more:hover,
.siteType2 .load-more-cat:focus-visible,
.siteType2 .load-more-cat:hover,
.siteType2 .integlight_pt button#load-more:focus-visible,
.siteType2 .integlight_pt button#load-more:hover {
  background: #555;
  border: 1px solid #555;
  color: #fff;
}

/************ siteType2ボタンe **************/
/************ siteType2ボタン **************/
/************ siteType2ボタン **************/

/************ siteType2カテゴリタグs **************/
/************ siteType2カテゴリタグs **************/
/************ siteType2カテゴリタグs **************/
/************ siteType2カテゴリタグs **************/
/************ siteType2カテゴリタグs **************/

.siteType2 .post-category p {
  background: #555;
}
/************ siteType2カテゴリタグe **************/
/************ siteType2カテゴリタグe **************/
/************ siteType2カテゴリタグe **************/

/**************フォントオーサムのホバーした時の色を変えているs***************/
/**************フォントオーサムのホバーした時の色を変えているs***************/
/**************フォントオーサムのホバーした時の色を変えているs***************/

.main-navigation li.menu-item-has-children > a:hover::after {
  background-color: #555;
}

/**************フォントオーサムのホバーした時の色を変えているe***************/

/*********************************************************************/
/* 見出し */
/*********************************************************************/
/* 見出しデザイン エレガント*/
.integlight_heading_line h2 {
  border-bottom: 1px solid #555;
}

.integlight_heading_line h3 {
  border-bottom: 1px solid #e9e8e8;
}

/* 左15%だけ色を変える */
.integlight_heading_line h3::after {
  background-color: #555;
}

.integlight_heading_accent h2 {
  border-left: 3px solid #555;
}

.integlight_heading_accent h3 {
  border-left: 1.5px solid #555;
}

.integlight_heading_marker h2::before {
  color: #555;
}

.integlight_heading_marker h3::before {
  color: #9f9f9f;
}

/* 見出しデザイン ポップ*/
.integlight_heading_stripe h2 {
  background: repeating-linear-gradient(
    135deg,
    #555,
    #555 5px,
    #5555557a 5px,
    #5555557a 10px
  );
}

.integlight_heading_stripe h3::after {
  background: repeating-linear-gradient(
    135deg,
    #fff,
    #fff 5px,
    #5555557a 5px,
    #5555557a 10px
  );
}

.integlight_heading_shadow h2 {
  border: 1px solid #555;
}

.integlight_heading_shadow h2:after {
  background: #bebebe;
}

.integlight_heading_shadow h3 {
  background: linear-gradient(to top, #bebebe 0.55em, transparent 0.55em);
}

.integlight_heading_highlight h2 {
  border-bottom: 5px dotted #bebebe;
}

.integlight_heading_highlight h3 {
  border-left: 8px double #555;
}

/* 見出しデザイン シンプル*/
.integlight_heading_arrow h2::before {
  color: #555;
}

/* 見出しデザイン シンプル*/
.integlight_heading_arrow h3::before {
  color: #bebebe;
}

.integlight_heading_dotted h2 {
  border-bottom: 4px double #555;
}

.integlight_heading_dotted h3 {
  background-image: linear-gradient(
    to right,
    #bebebe 50%,
    rgba(255, 255, 255, 0) 0%
  );
}
