/* .integlight_pt footer {
  background-color: #9b7091;
} */

/* タブフォーカスのスタイル */
a:focus,
.wp-block-button__link:focus {
  outline: 2px solid #424e5c;
}

a:focus:not(:focus-visible),
.wp-block-button__link:focus:not(:focus-visible) {
  outline: none; /* マウス操作時だけ非表示 */
}

a:focus-visible,
.wp-block-button__link:focus-visible {
  outline: 2px solid #424e5c;
  outline-offset: 2px;
}

.easyLink-info-name a:focus-visible,
.easyLink-info-btn-amazon:focus-visible,
.easyLink-info-btn-rakuten:focus-visible {
  outline: 2px solid #424e5c;
}

.integlight_pt button {
  background-color: #9b7091;
}

.integlight_pt .pagetop {
  background-color: #9b7091;
}

.integlight_pt p.head {
  background-color: #9b7091;
}

.integlight_pt .entry-footer {
  background: none;
  color: #222;
}

.integlight_pt button,
.integlight_pt input[type="button"],
.integlight_pt input[type="reset"],
.integlight_pt input[type="submit"] {
  background-color: #9b7091;
  color: #000;
}

/************ページトップ*************/
/************ページトップ*************/
/************ページトップ*************/
/************ページトップ*************/
/************ページトップs*************/

#page-top:hover {
  background: #424e5c;
  border: #424e5c;
  color: #fff;
}

#page-top {
  border: 1px solid #424e5c;
  background-color: #fff;
  color: #424e5c;
}

#page-top::before {
  background-image: none !important;
  background-color: #424e5c !important; /* 通常時の色 */
}

#page-top:hover::before {
  background-image: none !important;
  background-color: #fff !important; /* ホバー時は白に */
}
/************ページトップe*************/
/************ページトップ*************/
/************ページトップ*************/

.posted-on a,
.byline a,
.cat-links a,
.edit-link a,
.tags-links a {
  color: #424e5c;
}

/* 目次の色を変えている */
/* .post-toc {
  background-color: #f3dede;
} */

/* homeのカテゴリーの色 */
body .blog .category-link,
body .siteType1 .category-link {
  background: #f3dede;
}

.site-footer {
  background-color: #9b7091;
  color: #000;
}

/* フッターの文字色を変えてる */
.ly_site_footer a {
  color: #000;
}

.site-header {
  background-color: #ba85a7;
  background-image: linear-gradient(to bottom, #9b7091 0 8px, #424e5c 8px 11px);
}

ul.menu > li.menu-item-has-children > ul.sub-menu,
ul.menu li ul.sub-menu li.menu-item-has-children > ul.sub-menu {
  background-color: #ba85a7;
}

/**************フォントオーサムのホバーした時の色を変えているs***************/
/**************フォントオーサムのホバーした時の色を変えているs***************/
/**************フォントオーサムのホバーした時の色を変えているs***************/
.main-navigation li.menu-item-has-children > a:hover::after {
  background-color: #424e5c;
}
/**************アイコンのホバーした時の色を変えているe***************/

/**************アイコンのホバーした時の色を変えているe***************/
/************ siteType2ボタン **************/
/************ siteType2ボタン **************/
/************ siteType2ボタン **************/
/************ siteType2ボタン **************/
/************ siteType2ボタンs **************/
/* .home button#load-more, .home button#load-more, .home button.load-more-cat, .home button.load-more-cat, .home .integlight_pt button#load-more,.home .integlight_pt button#load-more {
  color:#ba85a7;                 
  background:#fff;
  border:1px solid #ba85a7;
} */

/**************背景のグラデーションの設定s***************/
/**************背景のグラデーションの設定s***************/
/**************背景のグラデーションの設定s***************/
/**************背景のグラデーションの設定s***************/
/**************背景のグラデーションの設定s***************/
html:has(body .siteType2) {
  background: linear-gradient(to right, #d3adcf 0%, #c3bac1 60%, #8b97a4 100%);
}

/**************背景のグラデーションの設定e***************/
/**************背景のグラデーションの設定e***************/
/**************背景のグラデーションの設定e***************/

.siteType2 #load-more:focus-visible,
.siteType2 #load-more:hover,
.siteType2 .load-more-cat:focus-visible,
.siteType2 .load-more-cat:hover,
.siteType2 .integlight_pt button#load-more:focus-visible,
.siteType2 .integlight_pt button#load-more:hover {
  background: #ba85a7;
  border: 1px solid #ba85a7;
  color: #fff;
}
/************ siteType2ボタンe **************/
/************ siteType2ボタン **************/
/************ siteType2ボタン **************/

/************ siteType2カテゴリタグs **************/
/************ siteType2カテゴリタグs **************/
/************ siteType2カテゴリタグs **************/
/************ siteType2カテゴリタグs **************/
/************ siteType2カテゴリタグs **************/
.blog .post-category p,
.siteType2 .post-category p {
  background: #9b7091;
}
/************ siteType2カテゴリタグe **************/
/************ siteType2カテゴリタグe **************/
/************ siteType2カテゴリタグe **************/

@media screen and (max-width: 768px) {
  .menuToggle-containerForMenu {
    background: #ba85a7;
  }
}

/*********************************************************************/
/* 見出し */
/*********************************************************************/
/* 見出しデザイン エレガント*/
.integlight_heading_line h2 {
  border-bottom: 1px solid #ba85a7;
}

.integlight_heading_line h3 {
  border-bottom: 1px solid #cbafc1;
}

/* 左15%だけ色を変える */
.integlight_heading_line h3::after {
  background-color: #ba85a7;
}

.integlight_heading_accent h2 {
  border-left: 5px solid #ba85a7;
}

.integlight_heading_accent h3 {
  border-left: 2px solid #ba85a7;
}

.integlight_heading_marker h2::before {
  color: #ba85a7;
}

.integlight_heading_marker h3::before {
  color: #c9a5bd;
}

/* 見出しデザイン ポップ*/
.integlight_heading_stripe h2 {
  background: repeating-linear-gradient(
    135deg,
    #ba85a7,
    #ba85a7 5px,
    #ba85a77a 5px,
    #ba85a77a 10px
  );
}

.integlight_heading_stripe h3::after {
  background: repeating-linear-gradient(
    135deg,
    #fff,
    #fff 5px,
    #ba85a77a 5px,
    #ba85a77a 10px
  );
}

.integlight_heading_shadow h2 {
  border: 1px solid #ba85a7;
  padding: 3px 10px;
}

.integlight_heading_shadow h2:after {
  background: #cbafc1;
}

.integlight_heading_shadow h3 {
  background: linear-gradient(to top, #cbafc1 0.55em, transparent 0.55em);
}

.integlight_heading_label h2 {
  background: #cbafc1;
  padding: 3px 10px;
}

.integlight_heading_label h3 {
  border-bottom: 1px solid #ba85a7;
  border-left: 5px solid #cbafc1;
  padding: 3px 10px;
}

.integlight_heading_highlight h2 {
  border-bottom: 5px dotted #cbafc1;
}

.integlight_heading_highlight h3 {
  border-left: 8px double #ba85a7;
}

/* 見出しデザイン シンプル*/
.integlight_heading_arrow h2::before {
  color: #ba85a7;
}

/* 見出しデザイン シンプル*/
.integlight_heading_arrow h3::before {
  color: #cbafc1;
}

.integlight_heading_dotted h2 {
  border-bottom: 4px double #ba85a7;
}

.integlight_heading_dotted h3 {
  background-image: linear-gradient(
    to right,
    #cbafc1 50%,
    rgba(255, 255, 255, 0) 0%
  );
}
