/***************************************/
/* ライン　アニメーション　s */
/***************************************/
/* .wp-block-heading←このクラスのhタグにだけかける */
.wp-block-heading {
  /*color: #222;*/
  border-bottom: none;
  width: 100%;
  position: relative;
  /*::afterにabsoluteをかけるので設定*/
}

.wp-block-heading::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 3px;
  width: 20%; /* 下線の長さ（見出し幅の半分なら50%、全幅なら100%） */
  background: #555; /* 下線の色 */
}

/* h3::after {
  height: 1.5px;
} */

/* home投稿一覧のアニメーションを取る */
/* .blog .grid-item h2::after,
.blog .grid-item h3::after,
.home .grid-item h2::after,
.home .grid-item h3::after {
  display: none;
} */

/***************************************/
/* ライン　アニメーション　e */
/***************************************/
