/***************************************/
/* ライン　アニメーション　s */
/***************************************/
/* .wp-block-heading←このクラスのhタグにだけかける */
.wp-block-heading {
  /*color: #222;*/
  border-bottom: none; /*下線なくす*/
  position: relative;
  /*::afterにabsoluteをかけるので設定*/
  display: inline-block; /* テキスト幅に合わせる */
  padding-bottom: 5px; /* ← 下線の太さ＋余白ぶん確保 */
}

.wp-block-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%; /* ← テキスト幅に合わせて下線表示 */
  background: #555; /* 下線の色 */
}

/* h3::after {
  height: 1.5px;
} */

/* home投稿一覧のアニメーションを取る */
/* .blog .grid-item h2::after,
.blog .grid-item h3::after,
.home .grid-item h2::after,
.home .grid-item h3::after {
  display: none;
} */

/***************************************/
/* ライン　アニメーション　e */
/***************************************/
