/* .integlight_pt footer {
  background-color: #008554;
} */

/* タブフォーカスのスタイル */
a:focus,
.wp-block-button__link:focus {
  outline: 2px solid #ea5404;
}

a:focus:not(:focus-visible),
.wp-block-button__link:focus:not(:focus-visible) {
  outline: none; /* マウス操作時だけ非表示 */
}

a:focus-visible,
.wp-block-button__link:focus-visible {
  outline: 2px solid #ea5404;
}

.easyLink-info-name a:focus-visible,
.easyLink-info-btn-amazon:focus-visible,
.easyLink-info-btn-rakuten:focus-visible {
  outline: 2px solid #ea5404;
}

.integlight_pt button {
  background-color: #008554;
}

.integlight_pt .pagetop {
  background-color: #008554;
}

.integlight_pt p.head {
  background-color: #008554;
}

.integlight_pt h2::after {
  background-color: #008554;
}

.integlight_pt h3::after {
  background-color: #ea5404;
}

.integlight_pt .entry-footer {
  background: none;
  color: #222;
}

.integlight_pt button,
.integlight_pt input[type="button"],
.integlight_pt input[type="reset"],
.integlight_pt input[type="submit"] {
  background-color: #008554;
  color: #fff;
}

/************ボタンアニメーション**********/
.wp-block-button__link,
.wp-block-buttons > .wp-block-button.has-custom-width .wp-block-button__link {
  border: 1px solid #555;
  background-color: #fff; /* 非ホバー時は白背景 */
  color: #555; /* 非ホバー時は濃いテキスト色 */
  /* border-radius: inherit; */
}

.wp-block-button__link:hover,
.wp-block-button__link:active,
.wp-block-buttons
  > .wp-block-button.has-custom-width
  .wp-block-button__link:hover,
.wp-block-buttons
  > .wp-block-button.has-custom-width
  .wp-block-button__link:active {
  color: #fff !important; /* ホバー時は白テキスト */
}

.wp-block-button__link::before,
.wp-block-buttons
  > .wp-block-button.has-custom-width
  .wp-block-button__link::before {
  background-color: #008554;
}

/************ページトップ*************/
/************ページトップ*************/
/************ページトップ*************/
/************ページトップ*************/
/************ページトップs*************/

#page-top:hover {
  background: #ea5404;
  border: #ea5404;
  color: #fff;
}

#page-top {
  border: 1px solid #ea5404;
  background-color: #fff;
  color: #ea5404;
}

#page-top::before {
  background-image: none !important;
  background-color: #ea5404 !important; /* 通常時の色 */
}

#page-top:hover::before {
  background-image: none !important;
  background-color: #fff !important; /* ホバー時は白に */
}
/************ページトップe*************/
/************ページトップ*************/
/************ページトップ*************/

.posted-on a,
.byline a,
.cat-links a,
.edit-link a,
.tags-links a {
  color: #b84405;
}

/* 目次の色を変えている */
/* .post-toc {
  background-color: #daeae4;
} */

/* homeのカテゴリーの色 */
.blog .category-link,
.home1 .category-link {
  background: #c5dcd4;
}

.site-footer {
  background-color: #1e1b2a;
}

/* フッターメニューの線の色 */
.footer-menu li::before {
  background-color: #fff;
}

.footer-menu li:last-child::after {
  background-color: #fff;
}

.site-header {
  background-color: #1e1b2a;
  background-image: linear-gradient(to bottom, #008554 0 8px, #ea5404 8px 11px);
}

ul.menu > li.menu-item-has-children > ul.sub-menu,
ul.menu li ul.sub-menu li.menu-item-has-children > ul.sub-menu {
  background-color: #1e1b2a;
}

/**************フォントオーサムのホバーした時の色を変えているs***************/
/**************フォントオーサムのホバーした時の色を変えているs***************/
/**************フォントオーサムのホバーした時の色を変えているs***************/
.main-navigation li.menu-item-has-children > a:hover::after {
  background-color: #ea5404;
}
/**************フォントオーサムのホバーした時の色を変えているe***************/
/************ home2ボタン **************/
/************ home2ボタン **************/
/************ home2ボタン **************/
/************ home2ボタン **************/
/************ home2ボタンs **************/
/* .home button#load-more, .home button#load-more, .home button.load-more-cat, .home button.load-more-cat, .home .integlight_pt button#load-more,.home .integlight_pt button#load-more {
  color:#fa9301;                 
  background:#fff;
  border:1px solid #fa9301;
} */

body .home2 {
  background: linear-gradient(to right, #85a99c 0%, #b2cac2 60%, #f6cfba 100%);
}

.home2 #load-more:focus-visible,
.home2 #load-more:hover,
.home2 .load-more-cat:focus-visible,
.home2 .load-more-cat:hover,
.home2 .integlight_pt button#load-more:focus-visible,
.home2 .integlight_pt button#load-more:hover {
  background: #008554;
  border: 1px solid #008554;
  color: #fff;
}
/************ home2ボタンe **************/
/************ home2ボタン **************/
/************ home2ボタン **************/

/************ home2カテゴリタグs **************/
/************ home2カテゴリタグs **************/
/************ home2カテゴリタグs **************/
/************ home2カテゴリタグs **************/
/************ home2カテゴリタグs **************/

.home2 .post-category p {
  background: #008554;
}
/************ home2カテゴリタグe **************/
/************ home2カテゴリタグe **************/
/************ home2カテゴリタグe **************/

@media screen and (max-width: 768px) {
  .menuToggle-containerForMenu {
    background: #1e1b2a;
  }
}
