/* .integlight_pt footer {
  background-color: #9b7091;
} */

/* タブフォーカスのスタイル */
a:focus,
.wp-block-button__link:focus {
  outline: 2px solid #424e5c;
}

a:focus:not(:focus-visible),
.wp-block-button__link:focus:not(:focus-visible) {
  outline: none; /* マウス操作時だけ非表示 */
}

a:focus-visible,
.wp-block-button__link:focus-visible {
  outline: 2px solid #424e5c;
  outline-offset: 2px;
}

.easyLink-info-name a:focus-visible,
.easyLink-info-btn-amazon:focus-visible,
.easyLink-info-btn-rakuten:focus-visible {
  outline: 2px solid #424e5c;
}

.integlight_pt button {
  background-color: #9b7091;
}

.integlight_pt .pagetop {
  background-color: #9b7091;
}

.integlight_pt p.head {
  background-color: #9b7091;
}

.integlight_pt .entry-footer {
  background: none;
  color: #222;
}

.integlight_pt button,
.integlight_pt input[type="button"],
.integlight_pt input[type="reset"],
.integlight_pt input[type="submit"] {
  background-color: #9b7091;
  color: #000;
}

/************ページトップ*************/
/************ページトップ*************/
/************ページトップ*************/
/************ページトップ*************/
/************ページトップs*************/

#page-top:hover {
  background: #424e5c;
  border: #424e5c;
  color: #fff;
}

#page-top {
  border: 1px solid #424e5c;
  background-color: #fff;
  color: #424e5c;
}

#page-top::before {
  background-image: none !important;
  background-color: #424e5c !important; /* 通常時の色 */
}

#page-top:hover::before {
  background-image: none !important;
  background-color: #fff !important; /* ホバー時は白に */
}
/************ページトップe*************/
/************ページトップ*************/
/************ページトップ*************/

.posted-on a,
.byline a,
.cat-links a,
.edit-link a,
.tags-links a {
  color: #424e5c;
}

/* 目次の色を変えている */
/* .post-toc {
  background-color: #f3dede;
} */

/* homeのカテゴリーの色 */
.blog .category-link,
.home1 .category-link {
  background: #f3dede;
}

.site-footer {
  background-color: #9b7091;
  color: #000;
}

/* フッターの文字色を変えてる */
.ly_site_footer a {
  color: #000;
}

.site-header {
  background-color: #ba85a7;
  background-image: linear-gradient(to bottom, #9b7091 0 8px, #424e5c 8px 11px);
}

ul.menu > li.menu-item-has-children > ul.sub-menu,
ul.menu li ul.sub-menu li.menu-item-has-children > ul.sub-menu {
  background-color: #ba85a7;
}

/**************フォントオーサムのホバーした時の色を変えているs***************/
/**************フォントオーサムのホバーした時の色を変えているs***************/
/**************フォントオーサムのホバーした時の色を変えているs***************/
.main-navigation li.menu-item-has-children > a:hover::after {
  background-color: #424e5c;
}
/**************アイコンのホバーした時の色を変えているe***************/

/**************アイコンのホバーした時の色を変えているe***************/
/************ home2ボタン **************/
/************ home2ボタン **************/
/************ home2ボタン **************/
/************ home2ボタン **************/
/************ home2ボタンs **************/
/* .home button#load-more, .home button#load-more, .home button.load-more-cat, .home button.load-more-cat, .home .integlight_pt button#load-more,.home .integlight_pt button#load-more {
  color:#fa9301;                 
  background:#fff;
  border:1px solid #fa9301;
} */

/**************背景のグラデーションの設定s***************/
/**************背景のグラデーションの設定s***************/
/**************背景のグラデーションの設定s***************/
/**************背景のグラデーションの設定s***************/
/**************背景のグラデーションの設定s***************/
html:has(body .home2) {
  background: linear-gradient(to right, #d3adcf 0%, #c3bac1 60%, #8b97a4 100%);
}

html:has(body .home2)::before {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    /* 透明で開始 */ rgba(255, 255, 255, 1) 45vh,
    /* 35vhまでは透明のまま */ rgba(255, 255, 255, 0) 100%
      /* そこから白にフェード */
  );
}
/**************背景のグラデーションの設定e***************/
/**************背景のグラデーションの設定e***************/
/**************背景のグラデーションの設定e***************/

.home2 #load-more:focus-visible,
.home2 #load-more:hover,
.home2 .load-more-cat:focus-visible,
.home2 .load-more-cat:hover,
.home2 .integlight_pt button#load-more:focus-visible,
.home2 .integlight_pt button#load-more:hover {
  background: #ba85a7;
  border: 1px solid #ba85a7;
  color: #fff;
}
/************ home2ボタンe **************/
/************ home2ボタン **************/
/************ home2ボタン **************/

/************ home2カテゴリタグs **************/
/************ home2カテゴリタグs **************/
/************ home2カテゴリタグs **************/
/************ home2カテゴリタグs **************/
/************ home2カテゴリタグs **************/
.blog .post-category p,
.home2 .post-category p {
  background: #9b7091;
}
/************ home2カテゴリタグe **************/
/************ home2カテゴリタグe **************/
/************ home2カテゴリタグe **************/

@media screen and (max-width: 768px) {
  .menuToggle-containerForMenu {
    background: #ba85a7;
  }
}
