/* .integlight_pt footer {
  background: #5a7a44;
} */

/* タブフォーカスのスタイル */
a:focus,
.wp-block-button__link:focus {
  outline: 2px solid #fbb4c0;
}

a:focus:not(:focus-visible),
.wp-block-button__link:focus:not(:focus-visible) {
  outline: none; /* マウス操作時だけ非表示 */
}

a:focus-visible,
.wp-block-button__link:focus-visible {
  outline: 2px solid #fbb4c0;
}

.easyLink-info-name a:focus-visible,
.easyLink-info-btn-amazon:focus-visible,
.easyLink-info-btn-rakuten:focus-visible {
  outline: 2px solid #fbb4c0;
}

.integlight_pt button {
  background: #5a7a44;
}

.integlight_pt .pagetop {
  background: #5a7a44;
}

.integlight_pt p.head {
  background: #5a7a44;
}

h2.wp-block-heading::after {
  background: #5a7a44;
}

h3.wp-block-heading::after {
  background: #fbb4c0;
}

.integlight_pt .entry-footer {
  background: none;
  color: #222;
}

.integlight_pt button,
.integlight_pt input[type="button"],
.integlight_pt input[type="reset"],
.integlight_pt input[type="submit"] {
  background: #5a7a44;
  color: #fff;
}

/* background: linear-gradient(90deg, #ec8be7 20%, #edb1ea 40%, #d579ee 70%); */

/************ボタンアニメーション**********/
.wp-block-button__link,
.wp-block-buttons > .wp-block-button.has-custom-width .wp-block-button__link {
  border: 1px solid #555;
  background-color: #fff; /* 非ホバー時は白背景 */
  color: #555; /* 非ホバー時は濃いテキスト色 */
  /* border-radius: inherit; */
}

.wp-block-button__link:hover,
.wp-block-button__link:active,
.wp-block-buttons
  > .wp-block-button.has-custom-width
  .wp-block-button__link:hover,
.wp-block-buttons
  > .wp-block-button.has-custom-width
  .wp-block-button__link:active {
  color: #fff !important; /* ホバー時は白テキスト */
}

.wp-block-button__link::before,
.wp-block-buttons
  > .wp-block-button.has-custom-width
  .wp-block-button__link::before {
  background: #5a7a44;
}

/************ページトップ*************/
/************ページトップ*************/
/************ページトップ*************/
/************ページトップ*************/
/************ページトップs*************/

#page-top:hover {
  background: #fbb4c0;
  border: #fbb4c0;
  color: #fff;
}

#page-top {
  border: 1px solid #fbb4c0;
  background-color: #fff;
  color: #fbb4c0;
}

#page-top::before {
  background-image: none !important;
  background-color: #fbb4c0 !important; /* 通常時の色 */
}

#page-top:hover::before {
  background-image: none !important;
  background-color: #fff !important; /* ホバー時は白に */
}
/************ページトップe*************/
/************ページトップ*************/
/************ページトップ*************/

.posted-on a,
.byline a,
.cat-links a,
.edit-link a,
.tags-links a {
  color: #c5334b;
}

/* 目次の色を変えている */
/* .post-toc {
  background-color: #ebdddf;
} */

/* homeのカテゴリーの色 */
.blog .category-link,
.home1 .category-link {
  background: #e9d1d5;
}

.site-footer {
  background-color: #87755e;
  color: #000;
}

/* フッターの文字色を変えてる */
.ly_site_footer a {
  color: #000;
}

.site-header {
  background-color: #87755e;
  background-image: linear-gradient(to bottom, #5a7a44 0 8px, #fbb4c0 8px 11px);
}

ul.menu > li.menu-item-has-children > ul.sub-menu,
ul.menu li ul.sub-menu li.menu-item-has-children > ul.sub-menu {
  background-color: #87755e;
}

/**************フォントオーサムのホバーした時の色を変えているs***************/
/**************フォントオーサムのホバーした時の色を変えているs***************/
/**************フォントオーサムのホバーした時の色を変えているs***************/
.main-navigation li.menu-item-has-children > a:hover::after {
  background-color: #fbb4c0;
}
/**************アイコンのホバーした時の色を変えているe***************/

/************ home2ボタン **************/
/************ home2ボタン **************/
/************ home2ボタン **************/
/************ home2ボタン **************/
/************ home2ボタンs **************/
/* .home button#load-more, .home button#load-more, .home button.load-more-cat, .home button.load-more-cat, .home .integlight_pt button#load-more,.home .integlight_pt button#load-more {
  color:#fa9301;                 
  background:#fff;
  border:1px solid #fa9301;
} */

/**************背景のグラデーションの設定s***************/
/**************背景のグラデーションの設定s***************/
/**************背景のグラデーションの設定s***************/
/**************背景のグラデーションの設定s***************/
/**************背景のグラデーションの設定s***************/
html:has(body .home2) {
  background: linear-gradient(
    to right,
    rgb(151, 153, 150) 0%,
    #f1eedb 60%,
    #c2bbb4 100%
  );
}

html:has(body .home2)::before {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    /* 透明で開始 */ rgba(255, 255, 255, 1) 45vh,
    /* 35vhまでは透明のまま */ rgba(255, 255, 255, 0) 100%
      /* そこから白にフェード */
  );
}
/**************背景のグラデーションの設定e***************/
/**************背景のグラデーションの設定e***************/
/**************背景のグラデーションの設定e***************/

.home2 #load-more:focus-visible,
.home2 #load-more:hover,
.home2 .load-more-cat:focus-visible,
.home2 .load-more-cat:hover,
.home2 .integlight_pt button#load-more:focus-visible,
.home2 .integlight_pt button#load-more:hover {
  background: #5a7a44;
  border: 1px solid #5a7a44;
  color: #fff;
}
/************ home2ボタンe **************/
/************ home2ボタン **************/
/************ home2ボタン **************/

/************ home2カテゴリタグs **************/
/************ home2カテゴリタグs **************/
/************ home2カテゴリタグs **************/
/************ home2カテゴリタグs **************/
/************ home2カテゴリタグs **************/

.home2 .post-category p {
  background: #5a7a44;
}
/************ home2カテゴリタグe **************/
/************ home2カテゴリタグe **************/
/************ home2カテゴリタグe **************/

@media screen and (max-width: 768px) {
  .menuToggle-containerForMenu {
    background: #87755e;
  }
}
