.wp-block-integlight-custom-cover {
    width: 100%;
    position: relative;
    background-color: #f0f0f0;
    /* 背景色は適宜変更 */
    padding: 20px 0;
}

.wp-block-integlight-custom-cover .inner-container {
    margin: 0 auto;
    padding: 20px;
}

/* 内側コンテンツ：全幅の場合 */
.wp-block-integlight-custom-cover .inner-container.inner-full {
    max-width: 100%;
}

/* 内側コンテンツ：記事幅の場合（例: 最大幅960px） */
.wp-block-integlight-custom-cover .inner-container.inner-article {
    max-width: 960px;
}