.text-flow-animation {
    overflow: hidden;
    width: 100%;
}

.loop_wrap {
    display: flex;
}

.loop_wrap div {
    flex: 0 0 auto;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    animation: loop_animation_right_double 10s linear infinite;
}



@keyframes loop_animation_right_double {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}