.text-flow-animation {
    overflow: hidden;
    white-space: nowrap;
    animation: textFlow 10s linear infinite;
}

@keyframes textFlow {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}